<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">
		<property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
		<property name="url"><value>jdbc:mysql://localhost:3306/sitescape?useUnicode=true&amp;characterEncoding=UTF-8</value></property>
		<property name="username"><value>sitescape</value></property>
		<property name="password"><value>sitescape</value></property>
	</bean>

	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>

	<!-- Hibernate session factory: Different from our production configuration 
	     in an effort to be able to test the code in as much isolation as possible.
	     For example, this configuration does not depend upon JNDI for datasource
	     lookup, etc. -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref bean="dataSource"/></property>
		<property name="lobHandler"><ref bean="lobHandler"/></property>
  		<property name="hibernateProperties">
 		   <props>
  		    <prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.cache.use_second_level_cache">false</prop>
		    </props>
		</property>
	</bean>
	<bean id="springContextUtil" class="org.kablink.teaming.util.SpringContextUtil" />
	<!-- Local transaction manager. -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>

</beans>