/* ------------------------------------------------------------------------ */
/* styles specific to ie */

ul.ss_dropdownmenu {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 2px;
}

ul.ss_dropdownmenu li {
  list-style-type: square;
  margin-left: 0px;
  margin-bottom: 2px;
  padding-left: 2px;
  color: #666666;
} 

