/* Mashup styles, used on landing pages */

.ss_mashup {
}

table.ss_mashup {
}

div.ss_mashup_form_element_header {
  border:1px solid #cecece; 
  background-color:#e5e5e5; 
  padding:6px;
  }
  
div.ss_mashup_list_header {
  border-top:1px solid #aeaeae; 
  border-right:1px solid #aeaeae; 
  border-left:1px solid #aeaeae; 
  background-color:#cccccc; 
  padding:6px 6px 0px 6px;
  }

div.ss_mashup_list {
  border:1px solid #aeaeae; 
  padding:0px 6px 6px 6px;
  }

div.ss_mashup_list ul {
  padding:0px 0px 0px 16px;
  }
div.ss_mashup_list ul li {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
  }
  
  
div.ss_mashup_folder_header {
  border:1px solid #aeaeae; 
  background-color:#cccccc; 
  padding:6px;
  }
  
div.ss_mashup_folder_description {
  border:1px solid #cecece;
  padding:6px;
  }

div.ss_mashup_folder_list_closed {
  border:1px solid #cecece;
  padding:6px;
  }

div.ss_mashup_folder_list_open_title {
  border:1px solid #cecece; 
  background-color:#e5e5e5; 
  padding:6px;
  }

div.ss_mashup_folder_list_open_entry {
  border:1px solid #cecece;
  padding:6px;
  }
    
div.ss_mashup_entry_header {
  border:1px solid #cecece; 
  background-color:#e5e5e5; 
  padding:6px;
  }
  
div.ss_mashup_entry_content {
  border:1px solid #cecece;
  padding:6px;
  }
  
