/* Mashup styles, used on landing pages */

.ss_mashup {
}

table.ss_mashup {
  padding: 0px;
  background: #E3E3E3;
  text-align:left !important;
}

.ss_mashup_canvas_view {
  background-color: transparent;
}
.ss_mashup_canvas_form {
  border: 1px silver solid; 
  padding: 30px;
}

.ss_mashup_round_top {
  }

.ss_mashup_round_top div {
  }

.ss_mashup_round_bottom {
  }
.ss_mashup_round_bottom div {
  }

div.ss_mashup_element {
  padding:6px 0px 6px 6px;
}
div.ss_mashup_element #ss_calendar_container,
div.ss_mashup_element .tasks {
  background: transparent !important;
}

div.ss_mashup_element_content {
}

div.ss_mashup_form_element_header {
  border:1px solid #CCCCCC; 
  background-color:#EDEDED; 
  padding:6px;
  }

div.ss_mashup_list_header_view {
  background: #949494;
  color: #f6f6f6;
  font-size: 14px;
  font-weight:bold;
  padding: 8px;
  margin-bottom: 2px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  }
div.ss_mashup_list_header_form {
  background-color:#ededed; 
  padding: 5px;
  }
div.ss_mashup_list_header_form span {
  font-size: 12px;
  font-weight:bold;
  }
div.ss_mashup_list_content {
  padding: 8px;
  }
div.ss_mashup_list_content_border {
  padding: 8px;
  border:1px solid #CCCCCC; 
}
div.ss_mashup_list_content ul {
  padding:4px 0px 0px 16px;
  margin:0px;
  }
div.ss_mashup_list_content ul li {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
  }

div.ss_mashup_folder_header_form {
  border-bottom:1px solid #cecece; 
  background-color:#FFFFFF; 
  padding:6px;
  }
div.ss_mashup_folder_header_form span {
  font-size: 12px;
  font-weight: bold;
}
div.ss_mashup_folder_header_form a span {
  font-size: 12px;
  font-weight: normal;
}
  
div.ss_mashup_folder_header_view {
  font-size: 16px;
  padding: 5px 10px;
  background: #949494 !important;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  }
.ss_mashup_folder_header_view_background {
  background: #949494 !important;
}
div.ss_mashup_folder_header_view span {
  color: #ededed;
}
div.ss_mashup_folder_header_view a span {
  font-weight: bold;
  color: #fafafa;
}
div.ss_mashup_folder_header_view a:hover {
  background-color: transparent;
}  
div.ss_mashup_folder_header_view a span:hover {
  background-color: #cce9ee;
  color: #135c8f;
  padding: 0 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}  
div.ss_mashup_folder_description {
  padding: 5px 10px 5px 0px;
  color: #F6F6F6;
  font-size: 14px;
  }
div.ss_mashup_folder_description p {
  margin: 0px;
  }

div.ss_mashup_folder_list_closed {
  padding:6px;
  border:1px solid #CCCCCC; 
}
	
div.ss_mashup_folder_list_open span.ss_size_20px {
  font-size: 15px !important;
  padding-left: 10px;
  }

div.ss_mashup_folder_list_open {
  padding: 0px;
  margin-bottom: 2px;
  border:1px solid #CCCCCC; 
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  }
div.ss_mashup_folder_list_open_no_border {
  padding: 0px;
  margin: 0px 1px 2px 0px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  }
div.ss_mashup_folder_list_open_title {
  padding: 5px 5px 0 5px;
  font-size: 15px;
  font-weight: bold;
  }
.ss_mashup_folder_list_open_title {
  font-size: 15px;
  }

div.ss_mashup_folder_list_open_entry {
  padding: 5px 5px 0 5px;
  background: transparent !important;
  }
div.ss_mashup_folder_list_open ul {
  list-style: circle;
  padding: 4px 0px 0px 16px;
  }        
div.ss_mashup_folder_list_open_entry p {
  margin-top: -2px !important;
  }
div.ss_mashup_entry_header {
  background: #949494;
  padding: 6px 10px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  }
div.ss_mashup_entry_header  span.ss_size_20px {
  font-size: 15px !important;
  } 
  
div.ss_mashup_entry_content {
  padding: 3px 10px;
  }
div.ss_mashup_entry_content p {
  margin-top: 0px;
  }  
  
div.ss_mashup_graphic_header {
  border-bottom:1px solid #cecece; 
  padding:6px;
  }
  
div.ss_mashup_graphic_content {
  }
  
div.ss_mashup_url_content {
  text-align: left;
  padding-bottom: 3px;
  }
div.ss_mashup_url_content span.ss_title_link {
	text-decoration: none;
  }  
  