.ss_mobile, .ss_mobile td, .ss_mobile th {
  font-family: Lucida Sans Unicode, Arial, sans-serif;
  font-size: 12px; 
}
.ss_mobile_small, .ss_mobile_small a, .ss_mobile_small table td {
	font-size:9px;
}
.ss_mobile_large, .ss_mobile_large a, .ss_mobile_large table td {
	font-size:14px;
}
.ss_mobile_light, .ss_mobile_light a, .ss_mobile_light table td {
	color:#999999;
}
.ss_bold, .ss_bold a, .ss_bold table td {
	font-weight: bold;
}
.ss_mobile_breadcrumbs, .ss_mobile_breadcrumbs a a:visited, .ss_mobile_breadcrumbs table td {
	color:gray;
}
.ss_mobile_description {
	background-color:#e5e5e5;
}
.ss_mobile_workflow {
	border: solid 1px #CCCCCC;
}
.ss_mobile_masthead {
	border: solid 1px black;
	background-color: #cecece;
	margin-bottom:10px;
}
.ss_mobile_footer {
	border: solid 1px black;
	background-color: #cecece;
}
.ss_entryContent {
	margin-bottom:10px;
}
.ss_mobile_folder_list {
	padding-bottom:6px;
}
.ss_mobile_table tr {
	padding-bottom:6px;
}
