.ss_mobile, .ss_mobile td, .ss_mobile th {
  font-family: Lucida Sans Unicode, Arial, sans-serif;
  font-size: 12px; 
}
.ss_small, .ss_small a, .ss_small table td {
	font-size:9px;
}
.ss_large, .ss_large a, .ss_large table td {
	font-size:11px;
}
.ss_light, .ss_light a, .ss_light table td {
	color:#999999;
}
.ss_bold, .ss_bold a, .ss_bold table td {
	font-weight: bold;
}
.ss_mobile_breadcrumbs, .ss_mobile_breadcrumbs a a:visited, .ss_mobile_breadcrumbs table td {
	color:gray;
}
