
/* Styles for the drag proxy widget that is used when the user drags an item from the palette in the landing page editor. */
.lpeDragProxy
{
	background: #EFEEEC url(images/putty_blend3.png) repeat-x scroll 0 0;
	height: 20px;
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 130;
}

/* Styles for the drag proxy popup widget that is used when the user drags an item from the palette in the landing page editor. */
.lpeDragProxyPopup
{
	border: 0px;
	padding: 0px;
}

/* Styles for the canvas widget used in the landing page editor. */
.lpeCanvas
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	min-height: 350px;
	overfow: auto;
	width: 650px;
}

/* Styles for the landing page editor hint. */
.lpeHint
{
	color: #4D6D8B;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

/* Styles for the palette widget used in the landing page editor. */
.lpePalette
{
	border: 1px solid #999999;
	font-size: 0.8em;
}

/* Styles for the items that are found on the landing page editor palette. */
.lpePaletteItem
{
	background: #EFEEEC url(images/putty_blend3.png) repeat-x scroll 0 0;
	height: 20px;
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 130;
}

/* Styles for the image used on a palette item. */
.lpePaletteItemImg
{
	margin-right: 2px;
	vertical-align: text-bottom;
	z-index: 130;
}
