/* */
.bold
{
	font-weight: bold;
}

/* */
.cursorPointer
{
	cursor: pointer;
}

/* Styles used with instructions in a dialog box. */
.dlgInstructions
{
	font-family: Arial,sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

/* Styles used with the panel that wraps a drop widget. */
.dropWidgetWrapperPanel
{
	padding-top: .5em;
	padding-bottom: .5em;
}

/* Styles used with the Edit-Delete control. */
.editDeleteControl
{
	background-color: #EBECA5;
	border: 1px solid #CCCCCC;
	padding: 1px;
	padding-right: 4px;
	white-space: nowrap;
	width: 25px;
}

/* Styles used with the "edit" anchor in the Edit-Delete control. */
.editDeleteControlAnchor
{
	color: #016BA6;
	text-decoration: none;
}

/* Styles used with the panel that wraps the edit-delete control. */
.editDeleteWrapperPanel
{
	cursor: default;
	height: 15px;
	margin-left: 0.5em;
	position: relative;
}

/* Styles for the ui that displays "Searching..." */
.findSearchingPanel
{
	background-color: #EBECA5;
	border-color: #BABDB6;
	border-style: solid solid solid;
	border-width: 1px;
	padding: .5em;
	position: absolute;
	top: 25px;
	z-index: 100;
}

/* Styles for the "search results" in a "find" control. */
.findSearchResults
{
	border-color: #BABDB6;
	border-style: solid solid solid;
	border-width: 1px;
	position: relative;
}

/* Styles for the "search results" in a "find" control. */
.findSearchResultsContent
{
	background-color: white;
	height: 245px;
	overflow: auto;
}

/* Styles for the footer of the "search results" in a "find" control. */
.findSearchResultsFooter
{
	background-color: #EFEEEC;
	border-top: 1px solid #BABDB6;
	height: 15px;
	padding: 0.5em;
	vertical-align: middle;
}

/* Styles used to position the previous and next images in the "search results" footer. */
.findSearchResultsFooterImages
{
	text-align: center; 
	vertical-align: middle;
	width: 100%;
}

/* Style used for an item in a search result list. */
.findSearchResultItemWidget
{
	margin-bottom: .65em;
	margin-left: .5em;
	margin-right: .5em;
	white-space: nowrap;
}

/* */
.fontSize75em
{
	font-size: .8em;
}

/* From Lynn's styles. */
.head4
{
	color: black;
	font-size: 0.85em;
	font-weight: bold;
	margin-bottom: 0.2em;
	margin-top: 0.5em;
}

/* From Lynn's styles. */
.instructions
{
	color: #4D6D8B;
	font-size: 0.8em;
}

/* Styles for the canvas widget used in the landing page editor. */
.lpeCanvas
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	min-height: 500px;
	margin-left: 5px;
	position: relative;
	width: 850px;
}

/* Styles for the canvas widget when the user is dragging something over the canvas. */
.lpeCanvas-highlighted
{
	background-color: #CDF3FF;
}

/* Styles used for the jsp name in a "custom jsp" widget */
.lpeCustomJspName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Custom Jsp" widget. */
.lpeCustomJspWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles for the drag proxy widget that is used when the user drags an item from the palette in the landing page editor. */
.lpeDragProxy
{
	background: #EFEEEC url(images/putty_blend3.png) repeat-x scroll 0 0;
	height: 20px;
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 130;
}

/* Styles for the drag proxy popup widget that is used when the user drags an item from the palette in the landing page editor. */
.lpeDragProxyPopup
{
	border: 0px;
	padding: 0px;
}

/* Styles used for the drop indicator that shows the user where a dropped widget will be inserted. */
.lpeDropIndicator
{
	background-color: #09F;
	height: 3px;
	position: absolute;
	width: 100px;
	z-index: 100;
}

/* Styles for widgets that can be dropped on a drop zone. */
.lpeDropWidget
{
	margin-bottom: .5em;
	margin-left: .5em;
	margin-right: .5em;
}

/* Styles used for the binder name in a "entry" widget */
.lpeEntryBinderName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles used for the entry name in the "entry" widget */
.lpeEntryName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles for the "Entry" widget. */
.lpeEntryWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the binder name in a "folder" widget */
.lpeFolderBinderName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles used for the folder  name in the "folder" widget */
.lpeFolderName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles for the "Folder" widget. */
.lpeFolderWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the graphic name in a "graphic" widget */
.lpeGraphicName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Graphic" widget. */
.lpeGraphicWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}


/* Styles for the landing page editor hint. */
.lpeHint
{
	color: #4D6D8B;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

/* Styles used for the entry name in the "link to entry" widget */
.lpeLinkToEntryName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles used for the title in a "link to entry" widget */
.lpeLinkToEntryTitle
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Link to Entry" widget. */
.lpeLinkToEntryWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the folder name in the "link to folder" widget */
.lpeLinkToFolderName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles used for the title in a "link to folder" widget */
.lpeLinkToFolderTitle
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Link to Entry" widget. */
.lpeLinkToFolderWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles for the "Link to Url" widget. */
.lpeLinkToUrlWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the title in a "link to url" widget */
.lpeLinkToUrlTitle
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles used for the url in the "link to url" widget */
.lpeLinkToUrlUrl
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles for the List Widget */
.lpeListDropWidget
{
	width: 100%;
}

/* Styles for the title of the List Widget */
.lpeListDropWidgetTitle
{
	background-color: #EFEEEC;
}

/* Styles used for a drop zone found in a list. */
.lpeListDropZone
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	height: 100%;
	min-height: 50px;
	width: 100%;
}

/* Styles used for a drop zone found in a list. */
.lpeListDropZone-highlighted
{
	background-color: #CDF3FF;
}

/* Styles for the List widget's title. */
.lpeListTitle
{
	cursor: default;
}

/* Style used to give something a left margin of .5em */
.lpeMarginLeft1Point5
{
	margin-left: 1.5em;
}

/* Styles for the palette widget used in the landing page editor. */
.lpePalette
{
	border: 1px solid #999999;
	font-size: 0.8em;
}

/* Styles for the items that are found on the landing page editor palette. */
.lpePaletteItem
{
	background: #EFEEEC url(images/putty_blend3.png) repeat-x scroll 0 0;
	cursor: move;
	height: 20px;
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 130;
}

/* Styles for the image used on a palette item. */
.lpePaletteItemImg
{
	margin-right: 2px;
	vertical-align: text-bottom;
	z-index: 130;
}

/* Dependent style used to display a border. */
.lpeShowBorder
{
	border: 1px solid #999999;
}

/* Styles for a table that has been added to the landing page editor. */
.lpeTable
{
	border: 0px;
}

/* Styles used for a drop zone found in a table. */
.lpeTableDropZone
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	height: 100%;
	width: 100%;
}

/* Styles used for a drop zone found in a table. */
.lpeTableDropZone-highlighted
{
	background-color: #CDF3FF;
}

/* Styles used for the utility element name in a "utility element" widget */
.lpeUtilityElementName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Utility Element" widget. */
.lpeUtilityElementWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}


/* Styles used for the label that identifies a widget, ie Link, Utility Element */
.lpeWidgetIdentifier
{
	cursor: default;
	font-size: 13px;
	font-weight: bold;
	margin-right: .25em;
}

/* Style used to create a bottom margin of .10em */
.marginBottom15em
{
	margin-bottom: .15em;
}

/* Style used to create a bottom margin of .25em */
.marginBottomPoint25em
{
	margin-bottom: .25em;
}

/* Style used to create a left margin of .25em */
.marginLeftPoint25em
{
	margin-left: .25em;
}

/* Style used to create a right margin of .25em */
.marginRightPoint25em
{
	margin-right: .25em;
}

/* Style used to create a right margin of 5 px. */
.margin-right-5
{
	margin-right: 5px;
}

/* Use this style if you want to set text-decoration: none */
.noTextDecoration
{
	text-decoration: none;
}

/* Styles for buttons */
.teamingButton
{
	margin-left: 0.5em;
}

/* Styles for dialog boxes */
.teamingDlgBox
{
	background-color: #F6F6F6;
	border-color: #BABDB6;
	border-style: solid solid solid;
	border-width: medium 2px 2px;
}

/* Styles for the content of a dialog box. */
.teamingDlgBoxContent
{
	margin: 10px;
}

/* Styles for the footer of a dialog box. */
.teamingDlgBoxFooter
{
	background-color: #EFEEEC;
	border-top: 1px solid #BABDB6;
	margin-top: 0.5em;
	padding: 0.5em;
	text-align: right;
	vertical-align: middle;
}

/* Styles for the header in a dialog box. */
.teamingDlgBoxHeader
{
	background-color: #C6E7F6;
	padding: 1px 5px 10px 10px;
}

/* Styles used to position something in the upper right hand corner of its parent. */
.upperRight
{
	position: absolute;
	right: 5px;
	top: 0px;
}
