/* Mashup styles, used on landing pages */

.ss_mashup {
}

table.ss_mashup {
  empty-cells: show;
  border-collapse: collapse;
}
table.ss_mashup_border {
  border-top:1px solid #D2D5D1;	
  border-left:1px solid #D2D5D1;	
}
table.ss_mashup_border td {
  border-right:1px solid #D2D5D1;	
  border-bottom:1px solid #D2D5D1;	
}

.ss_mashup_canvas_view {
}
.ss_mashup_canvas_form {
  border: 1px silver solid; 
  padding: 30px;
}

.ss_mashup_round_top {
  }
.ss_mashup_round_top div {
  }
.ss_mashup_round_bottom {
  }
.ss_mashup_round_bottom div {
  }

div.ss_mashup_element {
  margin: 5px 5px 8px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.ss_mashup_element_content {
}

div.ss_mashup_element #ss_calendar_container,
div.ss_mashup_element .tasks {
	background-color: #fafafa;
}

div.ss_mashup_form_element_header {
  background-color:#ededed; 
  padding:5px;
  }
  
div.ss_mashup_list_header_view {
  background-color:#ededed; 
  padding: 5px;
  font-size: 14px;
  font-weight:bold;
  }
div.ss_mashup_list_header_form {
  background-color:#ededed; 
  padding: 5px;
  }
div.ss_mashup_list_header_form span {
  font-size: 12px;
  font-weight:bold;
  }

div.ss_mashup_list_content {
  padding: 8px;
  }
div.ss_mashup_list_content_border {
  padding: 8px;
  border:1px solid #CCCCCC; 
}

div.ss_mashup_list_content ul, div.ss_mashup_list_content_border ul {
  padding:4px 0px 0px 16px;
  margin:0px;
  }
div.ss_mashup_list_content ul li, div.ss_mashup_list_content_border ul li {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
  }
  
div.ss_mashup_folder_header_form {
  border:1px solid #aeaeae; 
  background-color:#cccccc; 
  padding:5px;
  }
div.ss_mashup_folder_header_form span {
  font-size: 12px;
  font-weight: bold;
}
div.ss_mashup_folder_header_form a span {
  font-size: 12px;
  font-weight: normal;
}
  
div.ss_mashup_folder_header_view {
  font-size: 17px;
  padding: 5px 10px;
  }
div.ss_mashup_folder_header_view span {
  color: #5691A6;
}
div.ss_mashup_folder_header_view a span {
  color: #5691A6;
}
div.ss_mashup_folder_header_view a:hover {
  background-color: transparent;
}  
div.ss_mashup_folder_header_view a span:hover {
  background-color: #cce9ee;
  color: #135c8f;
  padding: 0 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}  
  
div.ss_mashup_folder_description {
  padding: 0px;
  color: #505354;
  font-size: 14px;
  } 

div.ss_mashup_folder_list_closed {
  padding:5px;
  }

div.ss_mashup_folder_list_open {
  padding: 8px 0 0 0;
  }

div.ss_mashup_folder_list_open span.ss_size_20px {
  font-size: 15px !important;
  padding-left: 10px;
  }
div.ss_mashup_folder_list_open_title {
  background-color:#ededed; 
  padding:5px 5px 5px 10px;
  font-size: 15px;
  font-weight:bold;
  }

div.ss_mashup_folder_list_open_entry {
  padding: 2px 10px;
  }
div.ss_mashup_entry_header {
  background-color:#ededed; 
  padding:6px;
  }
  
div.ss_mashup_entry_header  span.ss_size_20px {
  font-size: 15px !important;
  }
  
div.ss_mashup_entry_content {
  padding: 2px 10px;
  color: #353838;
  }
div.ss_mashup_element .ss_labelLeft {
  padding-left: 10px;
  }
  
div.ss_mashup_graphic_header {
  border:1px solid #aeaeae; 
  background-color:#e5e5e5; 
  padding:5px;
  }
  
div.ss_mashup_graphic_content {
  padding:5px;
  }
  
div.ss_mashup_url_content {
  text-align: left;
  padding-bottom: 3px;
  }
div.ss_mashup_url_content span.ss_title_link {
	text-decoration: none;
  }