#*
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "CPAL");
 * you may not use this file except in compliance with the CPAL. You may obtain a copy of the CPAL at
 * http://www.opensource.org/licenses/cpal_1.0. The CPAL is based on the Mozilla Public License Version 1.1
 * but Sections 14 and 15 have been added to cover use of software over a computer network and provide for
 * limited attribution for the Original Developer. In addition, Exhibit A has been modified to be
 * consistent with Exhibit B.
 * 
 * Software distributed under the CPAL is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND,
 * either express or implied. See the CPAL for the specific language governing rights and limitations
 * under the CPAL.
 * 
 * The Original Code is ICEcore. The Original Developer is SiteScape, Inc. All portions of the code
 * written by SiteScape, Inc. are Copyright (c) 1998-2007 SiteScape, Inc. All Rights Reserved.
 * 
 * 
 * Attribution Information
 * Attribution Copyright Notice: Copyright (c) 1998-2007 SiteScape, Inc. All Rights Reserved.
 * Attribution Phrase (not exceeding 10 words): [Powered by ICEcore]
 * Attribution URL: [www.icecore.com]
 * Graphic Image as provided in the Covered Code [web/docroot/images/pics/powered_by_icecore.png].
 * Display of Attribution Information is required in Larger Works which are defined in the CPAL as a
 * work which combines Covered Code or portions thereof with code not governed by the terms of the CPAL.
 * 
 * 
 * SITESCAPE and the SiteScape logo are registered trademarks and ICEcore and the ICEcore logos
 * are trademarks of SiteScape, Inc.
 *#
#if ($ssVisitor.Entity.FileAttachments.size() > 0)
#parse ("icecore.vm")
<div style="#ss_entryContent() ">
<span style="#ss_labelAbove()">${property_caption}</span>
#if (${ssVisitor.NotifyDef.Type} == 'summary')
<ul style="#ss_ul()">
#foreach ($selection in ${ssVisitor.Entity.FileAttachments})
<li style="#ss_li()"><a style="text-decoration:underline;" 
			href="$ssVisitor.getFileLink(${ssVisitor.Entity.ParentBinder.Id}, ${ssVisitor.Entity.Id}, ${ssVisitor.Entity.EntityType.name()}, ${selection.Id})">
			${selection.fileItem.name}</a></li>
#end

</ul>
#else
<table style="padding-left:30px;" cellpadding="0" cellspacing="0" border="0">
<tbody>
#foreach ($selection in $ssVisitor.Entity.FileAttachments)
     <tr><td colspan="4"><hr style="border-top:1px solid #CCCCCC;border-bottom:none;height:0px;" noshade="noshade" /></td></tr>
	  <tr>
	#if ($ssVisitor.NotifyDef.isAttachmentsIncluded())
		<td style="font-size:10px;font-weight:bold;padding-left:0px;" width="25%">${selection.fileItem.name}
		</td>
	#else
		<td style="font-size:10px;font-weight:bold;padding-left:0px;" width="25%"><a style="text-decoration: none;" 
			href="$ssVisitor.getFileLink(${ssVisitor.Entity.ParentBinder.Id}, ${ssVisitor.Entity.Id}, ${ssVisitor.Entity.EntityType.name()}, ${selection.Id})">
			${selection.fileItem.name}</a>
		</td>
	#end
		<td style="font-size:10px;white-space:nowrap;padding-left:5px;color:#666666">
			$ssVisitor.NotifyDef.DateFormat.format($selection.Modification.Date)</td>
		<td style="font-size:10px;white-space:nowrap;padding-left:5px;color:#666666">${selection.FileItem.LengthKB}KB</td>
		<td style="font-size:10px;white-space:nowrap;padding-left:5px;color:#666666">$esc.html(${selection.Modification.Principal.Title})</td>
	</tr>
#end
<tr><td colspan="4"><hr style="border-top:1px solid #CCCCCC;border-bottom:none;height:0px;" noshade="noshade" /></td></tr>
</tbody>
</table>
#end
</div>
#end
		