#*
 * The contents of this file are subject to the Common Public Attribution License Version 1.0 (the "CPAL");
 * you may not use this file except in compliance with the CPAL. You may obtain a copy of the CPAL at
 * http://www.opensource.org/licenses/cpal_1.0. The CPAL is based on the Mozilla Public License Version 1.1
 * but Sections 14 and 15 have been added to cover use of software over a computer network and provide for
 * limited attribution for the Original Developer. In addition, Exhibit A has been modified to be
 * consistent with Exhibit B.
 * 
 * Software distributed under the CPAL is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND,
 * either express or implied. See the CPAL for the specific language governing rights and limitations
 * under the CPAL.
 * 
 * The Original Code is ICEcore. The Original Developer is SiteScape, Inc. All portions of the code
 * written by SiteScape, Inc. are Copyright (c) 1998-2007 SiteScape, Inc. All Rights Reserved.
 * 
 * 
 * Attribution Information
 * Attribution Copyright Notice: Copyright (c) 1998-2007 SiteScape, Inc. All Rights Reserved.
 * Attribution Phrase (not exceeding 10 words): [Powered by ICEcore]
 * Attribution URL: [www.icecore.com]
 * Graphic Image as provided in the Covered Code [web/docroot/images/pics/powered_by_icecore.png].
 * Display of Attribution Information is required in Larger Works which are defined in the CPAL as a
 * work which combines Covered Code or portions thereof with code not governed by the terms of the CPAL.
 * 
 * 
 * SITESCAPE and the SiteScape logo are registered trademarks and ICEcore and the ICEcore logos
 * are trademarks of SiteScape, Inc.
 *#
#if ($ssVisitor.isHtml())  
<div style="#ss_entryContent() #ss_entryTitle()">
<span>
<table border="0" width="100%">
<tr><td align="left">
#if ($ssVisitor.Entity.DocNumber)
	${ssVisitor.Entity.DocNumber}.&nbsp;
#end

<a style="text-decoration:underline;" href="$ssVisitor.getPermaLink($ssVisitor.Entity.ParentBinder.Id, $ssVisitor.Entity.Id, "folderEntry")">
#if ($ssVisitor.Entity.Title)
	$esc.html($ssVisitor.Entity.Title)
#else
<span style="#ss_light()">--$ssVisitor.getNLT("entry.noTitle")--</span>
#end
</a>
#if ($ssVisitor.Entity.ParentBinder.Posting.EmailAddress)
</td><td align="right">

&nbsp;&nbsp;<a href="mailto:${ssVisitor.Entity.ParentBinder.Posting.EmailAddress}?subject=RE: DocId:${ssVisitor.Entity.ParentBinder.Id}:${ssVisitor.Entity.Id}"
		style="font-size: 11px; color: #3366cc; font-weight:bold;
border-top: 1px solid #d5d5d5; border-left:
  1px solid #d5d5d5;
border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
background-color:
  #e5e5e5; padding: 3px;
font-family: arial, helvetica,
  sans-serif;
margin-left: 0px; margin-right: 6px; margin-bottom,
  margin-top: 2px;
line-height: 200%; text-decoration:
  none;" >$ssVisitor.getNLT("mail.reply")</a>

 	  	
</td>
#end
</tr>
</table>

</div>
#else
#if ($ssVisitor.Entity.DocNumber)
#ss_print("${ssVisitor.Entity.DocNumber}. ") 
#end
#if ($ssVisitor.Entity.Title)
#ss_printLn($ssVisitor.Entity.Title)
#else
#ss_printLn("--$ssVisitor.getNLT('entry.noTitle')--")
#end
#end