# Only need to list the LB worker
worker.list=balancer

# Define first real worker using ajp13
worker.worker1.type=ajp13
worker.worker1.host=first_hostname_or_ip
worker.worker1.port=8009
worker.worker1.lbfactor=1

# Define second real worker using ajp13
worker.worker2.type=ajp13
worker.worker2.host=second_hostname_or_ip
worker.worker2.port=8009
worker.worker2.lbfactor=1

# Define the LB worker
worker.balancer.type=lb
worker.balancer.balance_workers=worker1,worker2
