<!-- SiteScape: This file is specific to JBoss-Tomcat app server.
     When running under standalone Tomcat container (or any other
     app server), this file has no effect. -->
<Context>
@@REALM@@
</Context>