<strings>
    <str name="TOC">
    </str>
    <str name="ChangedOne">
    </str>
    <str name="ChangedMany">
    </str>
    <str name="fromLabel">
    </str>
    <str name="dateLabel">
    </str>
    <str name="folderLabel">
    </str>
    <str name="newEntry">
    </str>
    <str name="modifiedEntry">
    </str>
    <str name="workflowEntry">
    </str>
   <str name="folderPermalink">
    </str>
   <str name="reply">
    </str>
</strings>
