<jboss-web>
<!-- Slide security -->
@@SECURITY_DOMAIN@@
<!-- To run slide -->
  <class-loading java2ClassLoadingCompliance="false"> 
    <loader-repository>com.sitescape:loader=ssfs.war</loader-repository> 
  </class-loading> 
  <!-- Resource Environment References --> 
  <!-- Resource references --> 
  <!-- EJB References --> 
</jboss-web> 
