<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>axis.servicesPath</param-name>
		<param-value>/ws/</param-value>
	</context-param>
	<context-param>
		<param-name>token.servicesPath</param-name>
		<param-value>/token/</param-value>
	</context-param>
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.kablink.teaming.asmodule.servlet.SSFClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>org.kablink.teaming.remoting.ws.servlet.SecurityPropagatingAxisServlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/secure/ws/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/token/ws/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>/secure/ws/*</web-resource-name>
			<url-pattern>/secure/ws/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ICEcore Remoting Services</realm-name>
	</login-config>
	<security-role>
		<role-name>users</role-name>
	</security-role>
</web-app>