body {
    background: none repeat scroll 0 0 #C5C5C5 !important;
    color: #FFFFFF !important;
    font: 100%/1.4 Arial,Helvetica,sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}

.displayNone        { display: none;           }

.loginProductImage {
    background-repeat: no-repeat;
    margin-top : 15px;
    margin-left: 25px;
    float: left;
    margin-bottom: 50px;
}

.loginContainer {
   -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#4B4F51), to(#3A3E40), color-stop(0.2, #3A3E40));
    background: -moz-linear-gradient(0% 0 270deg, #4B4F51, #3A3E40 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4B4F51', endColorstr = '#3A3E40');
    box-shadow: 0 1px 2px #3A3E40 inset;
    margin: 5% 0 10px 0;
    width: 300px;
}

.content {
    margin: 0 25px 15px;
}

.loginProductVersion {
    clear: both;
    padding-top: 30px;
    text-align: left;
}

.loginProductInfoLabel {
    color: #CCCCCC;
    font-size: 12px;
    padding: 0 25px;
}

.loginCopyrightLabel {
    color: #949494;
    font-size: 9px;
    margin-top: 2px;
    padding: 0 25px;
}

.loginBevel {
    border-bottom: 1px solid #4F5254;
    border-top: 1px solid #343738;
    line-height: 0;
    margin-top: 10px;
    width: 100%;
}
.userNamePanel,.passwordPanel {
    color: #CCCCCC;
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
    text-align: left;
    padding-left : 25px;
}

.userNamePanel span,.passwordPanel span {
    padding-bottom: 3px;
}

.userNamePanel input,.passwordPanel input {
    font-size: 13px;
    background-color: #EDEDED;
    margin: 2px 0 10px;
    padding: 3px;
    width: 240px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-border-radius: 4px;
    border: 2px;
    outline: none;
}

.userNamePanel input:focus,.passwordPanel input:focus {
    box-shadow: -3px -3px 3px #59828F, 3px -3px 3px #59828F, -3px 3px 3px #59828F, 3px 3px 3px #59828F;
    -moz-box-shadow: -3px -3px 3px #59828F, 3px -3px 3px #59828F, -3px 3px 3px #59828F, 3px 3px 3px #59828F;
    -webkit-box-shadow: -3px -3px 3px #59828F, 3px -3px 3px #59828F, -3px 3px 3px #59828F, 3px 3px 3px #59828F;
}

.loginButtonPanel {
    text-align: right;
    margin: 10px;
}

.loginButton {
    background: -webkit-gradient(linear, left top, left bottom, from(#81b2bd), to(#59828f)) repeat-x;
    background: -moz-linear-gradient(top, #81b2bd, #59828f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#81b2bd', endColorstr = '#59828f');
    border: medium none;
    border-radius: 11px 11px 11px 11px;
    color: #FFFFFF;
    margin: 0 0 10px 10px;
    padding: 4px 13px;
    cursor: pointer;
}

.loginFailed {
    background-color: #FAFAD5;
     border-radius: 5px;
    -moz-border-radius: 5px;
    color: black;
    font-size: 11px;
    padding: 7px;
    width: 300px;
}

.testMeTop {
	background-color: white;
	border : 1px solid #ccc;
	border-radius : 3px;
}

.testMeLeft {
	margin : 5px 10px;
	height : 100%;
	background-color: white;
	border : 1px solid #ccc;
	border-radius : 3px;
}

.rightContent {
	background-color: white;
	border : 1px solid #ccc;
	border-radius : 3px;
	margin: 5px 5px 10px 5px;
}

.mainheader {
    background: #3A3E40;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#64696b', endColorstr = '#3c4143');
    background: -webkit-gradient(linear, left top, left bottom, from(#64696b), to(#3c4143));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#64696b', endColorstr = '#3c4143');
    background: -moz-linear-gradient(top, #64696b, #3c4143);
    color: white;
}

.mainHeaderProductImg {
	margin: 10px;
}

.leftnav {
    background: none repeat scroll 0 0 #EAEAEA;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px 5px 10px 5px;
    width: 220px;
}

.leftnav-header {
    background: #949494;
    color: #FAFAFA;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px 5px 3px 5px;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}

.leftnav-title {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0px;
}

.leftnav-item {
    color: #353838;
    font-size: 13px;
    margin: 3px 5px;
    padding: 2px;
}

.leftnav-item:hover {
    cursor: pointer;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px;
    background: none repeat scroll 0 0 #CCE9EE;
    color: #135C8F;
}



/* Styles used with instructions in a dialog box. */
.dlgBox_closePanel
{
	color: #FFFFFF;
	font-size: 0.8em;
	position: absolute;
	right: -8px;
	top: -8px;
	z-index: 1001;
}

.dlgBox_closePanel:hover
{
	cursor: pointer;
}

.dlgInstructions
{
	font-family: Arial,sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

/* Styles used for text in the content of a dialog box. */
.dlgContent
{
	font-family: Arial,Helvetica,sans-serif;
}

/* Styles used for the help link in a dialog header. */
.dlgHeaderHelpImg
{
	cursor: pointer;
	padding: 2px;
	position: absolute;
	right: 8px;
	top: 9px;
}

/* Styles used for the error panel in a dialog. */
.dlgErrorPanel
{
	font-size: 12px;
	background-color: #EBECA5;
	border-color: #BABDB6;
	border-style: solid solid solid;
	border-width: 1px;
	padding: 5px 10px;
	margin: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.dlgErrorLabel
{
	font-size: 12px;
	font-weight: bold;
}


/* Styles for buttons */
.teamingButton
{
	margin-left: 0.5em;
}

.teamingDlgBoxFooter .gwt-Button {
	color:#fff;
 	font-size: 11px;
    font-family: Arial, sans-serif !important;
	background: #949494 none repeat scroll 0 0;
	margin-right:3px;
	padding: 2px 10px;
	text-decoration:none;
  	cursor: pointer;
  	white-space: nowrap;
	border: 0px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
    text-align: center !important;
    min-width: 60px;
	}
	
.teamingDlgBoxFooter .gwt-Button:hover {
	color: #135c8f;
    white-space: nowrap !important;
    text-decoration: none !important;
	border: 0px;
	background: linear-gradient(bottom, #A8D4DD 47%, #D5EDF1 53%, #C8E4E9 100%);
	background: -o-linear-gradient(bottom, #A8D4DD 47%, #D5EDF1 53%, #C8E4E9 100%);
	background: -moz-linear-gradient(bottom, #A8D4DD 47%, #D5EDF1 53%, #C8E4E9 100%);
	background: linear-gradient(bottom, #A8D4DD 47%, #D5EDF1 53%, #C8E4E9 100%);
	background: -webkit-linear-gradient(bottom, #A8D4DD 47%, #D5EDF1 53%, #C8E4E9 100%);
	background: -ms-linear-gradient(bottom, #A8D4DD 47%, #D5EDF1 53%, #C8E4E9 100%);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, #A8D4DD),
		color-stop(0.53, #D5EDF1),
		color-stop(1, #C8E4E9));
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

.teamingDlgBoxFooter .gwt-Button[disabled],.teamingDlgBoxFooter .gwt-Button[disabled]:hover {
  cursor: default;
  color: #b8b8b8;
  border: 1px outset #ccc !important;
  background: #fafafa;
}


.teamingDlgBoxHeaderBG_NonIE
{
	background-color: #81b2bd;
	background-image: -webkit-linear-gradient(top, #abced1, #81b2bd) !important; 
	background-image:    -moz-linear-gradient(top, #abced1, #81b2bd) !important; 
	background-image:     -ms-linear-gradient(top, #abced1, #81b2bd) !important; 
	background-image:      -o-linear-gradient(top, #abced1, #81b2bd) !important; 
	background-image:         linear-gradient(top, #abced1, #81b2bd) !important; /* standard, but currently unimplemented */
}
.teamingDlgBoxHeaderBG_IE
{
	background: url(images/dialog_header_tile3.png) repeat;
}

.teamingDlgBoxHeader-captionImagePanel {display: inline;}
.teamingDlgBoxHeader-captionLabel      {display: inline !important;}

.teamingDlgBoxHeader:hover
{
	cursor: move;
}

.padding5R {padding-right: 5px;           }

/* Styles for dialog boxes */
.teamingDlgBox
{
	font-family: Arial,Helvetica,sans-serif;
	background: url(images/trans30_black.png) repeat;
	padding: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	z-index: 1001;
}

.teamingDlgBox_NoClip, .teamingPopupPanel_NoClip
{
	clip: rect( -10000px, 10000px, 10000px, 0px) !important; 
}

.teamingDlgBox_Glass
{
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
	overflow: hidden;
	z-index: 1000;
}

.teamingDlgBox .popupContent
{
	background-color: #f6f6f6;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Styles for the content of a dialog box. */
.teamingDlgBoxContent
{
	margin: 10px;
}

/* Styles for the footer of a dialog box. */
.teamingDlgBoxFooter
{
	background-color: #EAEBE8;
	border-top: 1px solid #BABDB6;
	margin-top: 0.5em;
	padding: 0.5em;
	text-align: right;
	vertical-align: middle;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

/* Styles for the header in a dialog box. */
.teamingDlgBoxHeader
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	white-space: nowrap;
	vertical-align: middle;
}

.configWizardDlg.gwt-PopupPanel {
	border: none;
	padding: 0px;
	border-radius : 3px;
}

.installConfigWizard {
	width: 550px;
	background: #fff;
	border-radius : 3px;
}

.installConfigWizardPage {
	height : 350px;
	overflow : auto;
}

.finishButton {
	margin-left: 325px;
}

.configSelectPanel {
	margin : 0px 10px;
}

.wizardPage {
	margin : 10px;
	color: black;
	font-size: 12px;
}

.wizardPageDesc,.configDescLabel {
	color: #505354;
	font-style: italic;
	padding : 10px 0px 20px 0;
}

.configDescLabel {
	padding-left : 20px;
}

.configSelectRB {
	display: block;
	padding : 3px 0px;
}


.gwt-ValueSpinner .arrows {
    width: 17px;
    height: 18px;
    margin-left: 1px;
    line-height: 10px;
    margin-right: 4px;
}

.gwt-ValueSpinner .textBox {
    text-align: right;
    font-family: sans-serif;
    padding: 2px 0px;
    width: 40px;
}

.gwValueSpinner, .gwValueSpinner .gwt-ValueSpinner {
    display: inline-block;
}

.gwValueSpinnerKey {
    vertical-align: top;
    padding-top: 5px;
    display: inline-block;
}

.gwValueSpinner-Label {
    vertical-align: super;
    font-size: 12px;
    color: #505354;
    padding-right: 5px;
}

.gwValueSpinner-Label.disabled {
    color: #949494 !important;
}


/**Comment box, used to display messages if we have validation errors **/
.commentBoxDlg {
    padding: 3px;
    border: 0px;
}

.commentBoxDlg .content {
    background-color: #FFF;
    padding: 8px;
    font-size: 12px;
    min-height: 40px;
    min-width: 200px;
    max-width: 200px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 4px solid #FFCC33;
    -moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
}

.commentBoxDlg .content:after, .commentBoxDlg .content:before {
    border: transparent solid;
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
}

.commentBoxDlg .content.leftArrow:after {
    border-width: 14px;
    border-right-color: #fff;
    top: 6px;
    left: -22px
}

.commentBoxDlg .content.leftArrow:before {
    border-width: 10px;
    border-right-color: #FFCC33;
    top: 10px;
    left: -24px;
}


.commentBoxDlg .content.rightArrow:after {
    border-width: 9px;
    border-left-color: #fff;
    top: 11px;
    left: 100%;
}

.commentBoxDlg .content.rightArrow:before {
    border-width: 14px;
    border-left-color: #FFCC33;
    top: 6px;
    left: 100%;
}

.commentBoxDlg .content.downArrow:after {
    border-width: 9px;
    border-top-color: #fff;
    top: 100%;
    left: 25px;
}

.commentBoxDlg .content.downArrow:before {
    border-width: 14px;
    border-top-color: #ffcc33;
    top: 100%;
    left: 20px;
}

.commentBoxDlg .content.upArrow:after {
    border-width: 14px;
    border-bottom-color: #fff;
    top: -22px;
    left: 15px;
}

.commentBoxDlg .content.upArrow:before {
    border-width: 9px;
    border-bottom-color: #ffcc33;
    top: -22px;
    left: 20px;
}

.gw-TextBox {
    min-width: 250px;
    padding: 2px 0px;
}

.gwt-TextBox-watermark {
    color: DarkGray;
    font-style: italic;
}



