/* Start:  Generic binder view tools styles. */
	.vibe-binderViewTools
	{
		display: block;
		padding: 10px;
		margin-bottom: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
/* End:  Generic binder view tools styles. */

/* Start:  GWT folder view styles. */
	/* ...Start:  Accessory styles. */
		.vibe-accessoriesPanel {color: #333; background-color: #EAEBE8;}
	/* ...End:  Accessory styles. */
	
	/* ...Start:  Bread crumb panel styles. */
		.vibe-breadCrumbPanel {}
	/* ...End:  Bread crumb panel styles. */
	
	/* ...Start:  Entry menu panel styles. */
		.vibe-entryMenuPanel {}
	/* ...End:  Entry menu panel styles. */
	
	/* ...Start:  Filter panel styles. */
		.vibe-filterPanel {background-color: #EAF5F5;}
	/* ...End:  Filter panel styles. */
	
	/* ...Start:  Footer panel styles. */
		.vibe-footerPanel {text-align: center;}
	/* ...End:  Footer panel styles. */
	
	/* ...Start:  Generic folder view styles. */
		.vibe-folderViewBase {padding: 8px;}
	/* ...End:  Generic folder view styles. */
	
	/* ...Start:  Generic data table folder view styles. */
		.vibe-dataTableFolderColumn            {}
		.vibe-dataTableFolderColumn-select     {}
		.vibe-dataTableFolderDataTableBase     {}
		.vibe-dataTableFolderFlowPanelBase     {}
		.vibe-dataTableFolderRow               {}
		.vibe-dataTableFolderRow-select        {}
		.vibe-dataTableFolderViewBase          {}
		.vibe-dataTableFolderVerticalPanelBase {}
	/* ...End:  Generic data table folder view styles. */
	
	/* ...Start:  Data table cell styles. */
		.vibe-dataTableEntry-title        {cursor: pointer; color: #135c8f !important;}
		.vibe-dataTableEntry-unseenMarker {display: inline; cursor: pointer;}
		.vibe-dataTableLink-hover         {color: #135c8f; cursor: pointer; background: url(images/blends/teal_slice.png) repeat-x; background-position:center; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
		.vibe-dataTablePresence-control   {}
		.vibe-dataTablePresence-label     {display: inline; font-weight: bold; padding-left: 2px !important;}
		.vibe-dataTablePresence-disabled  {color: #c4c4c4;}
		.vibe-dataTablePresence-enabled   {color: #353838;}
/* ...End:  Data table cell styles. */

	/* ...Start:  Discussion folder view styles. */
		.vibe-discussionFolderDataTable {}
		.vibe-discussionFolderFlowPanel {}
	/* ...End:  Discussion folder view styles. */
/* End:  GWT folder view styles. */
