/* */
body, table td, select
{
	font-family: Arial, Helvetica, sans-serif;
}

.n-Label /* Novell - for text input field, radio buttons, and checkbox labels */
{
	font-size: 0.85em;
	color: #666;  /* gray */
	text-transform: capitalize;
}

n-Transparent-Black-Div
{
	position: absolute; top: 0px; left: 0px; background: url(images/trans50_black.png) repeat; width: 100%; height: 100%; overflow: hidden;
}

.bold
{
	font-weight: bold;
}

/* Style used for the panel that holds the content in the "color picker" dialog. */
.colorPickerContentPanel
{
	height: 270px;
	overflow: auto;
	width: 300px;
}

/* Styles for a td that holds a color name or hex value in the "color picker" dialog. */
.colorPickerColorNameTD, .colorPickerHexValueTD
{
	background-color: #FFFFFF;
	border-bottom: 1px solid #D2D5D1;
	cursor: pointer;
	font-size: 0.75em;
	padding: 3px 8px;
	white-space: nowrap;
}

/* Style for a span that holds a color's hex value. */
.colorPickerHexValueSpan
{
	background-color: #F0F8FF;
	border: 1px dotted #BABDB6;
	display: inline-block;
	height: 14px;
	margin: 5px;
	vertical-align: middle;
	width: 14px;
}

/* Styles for the row that holds the header in the table that holds the colors in the "color picker" dialog. */
.colorPickerHeaderTR
{
	background: transparent url(images/teal_slice.png) repeat-x scroll center;
	border-top: 1px solid #5AA7E3;
	color: white;
	font-size: 0.85em;
	font-weight: bold;
	height: 24px;
	padding: 0.2em;
	text-align: left;
	text-indent: 0.5em;
	white-space: nowrap;
}

/* Styles for cell that holds the header in the table that holds the colors in the "color picker" dialog. */
.colorPickerHeaderTD
{
	font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
	font-size: 1em;
}

/* Styles used with the table that holds the colors in the "color picker" dialog */
.colorPickerTable
{
	background-color: #F6F6F6;
	border-bottom: 0 solid #F6F6F6;
	font-family: Arial,Helvetica,Geneva,Swiss,SunSans-Regular;
}

/* */
.cursorPointer
{
	cursor: pointer;
}

/* Styles used with instructions in a dialog box. */
.dlgInstructions
{
	font-family: Arial,sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

/* Styles used for text in the content of a dialog box. */
.dlgContent
{
	font-family: Arial,Helvetica,sans-serif;
}

/* Styles used with the panel that wraps a drop widget. */
.dropWidgetWrapperPanel
{
	padding-top: .5em;
	padding-bottom: .5em;
}

/* Style used for the "Advanced" link in the "edit branding" dialog. */
.editBrandingAdvancedLink
{
	padding: 4px 8px;
}

/* Style used for the Browse link in the "edit branding" dialog. */
.editBrandingBrowseLink
{
	height: 20px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 28px;
}

/* Style used for links in the "edit branding" dialog. */
.editBrandingLink
{
	color: #3e6978;
	cursor: pointer;
	margin-left: 4px;
	text-decoration: none;
}

/* Style used for the "sample text" in the "edit branding" dialog. */
.editBrandingSampleText
{
	border: 1px dotted #BABDB6;
	padding: 4px 8px;
}

/* Styles used with the Edit-Delete control. */
.editDeleteControl
{
	background-color: #EBECA5;
	border: 1px solid #CCCCCC;
	padding: 1px;
	padding-right: 4px;
	white-space: nowrap;
	width: 25px;
}

/* Styles used with the "edit" anchor in the Edit-Delete control. */
.editDeleteControlAnchor
{
	color: #016BA6;
	text-decoration: none;
}

/* Styles used with the panel that wraps the edit-delete control. */
.editDeleteWrapperPanel
{
	cursor: default;
	height: 15px;
	margin-left: 0.5em;
	position: relative;
}

/* Styles for the ui that displays "Searching..." */
.findSearchingPanel
{
	background-color: #EBECA5;
	border-color: #BABDB6;
	border-style: solid solid solid;
	border-width: 1px;
	padding: .5em;
	position: absolute;
	top: 25px;
	z-index: 100;
}

/* Styles for the "search results" in a "find" control. */
.findSearchResults
{
	border-color: #BABDB6;
	border-style: solid solid solid;
	border-width: 1px;
	position: relative;
}

/* Styles for the "search results" in a "find" control. */
.findSearchResultsContent
{
	background-color: white;
	height: 245px;
	overflow: auto;
	width: 200px;	/* Even though this isn't the real width, we need to specify it or IE won't honor the overflow: auto. */
}

/* Styles for the footer of the "search results" in a "find" control. */
.findSearchResultsFooter
{
	background-color: #EFEEEC;
	border-top: 1px solid #BABDB6;
	height: 15px;
	padding: 0.5em;
	vertical-align: middle;
}

/* Styles used to position the previous and next images in the "search results" footer. */
.findSearchResultsFooterImages
{
	text-align: center; 
	vertical-align: middle;
	width: 100%;
}

/* Style used for an item in a search result list. */
.findSearchResultItemWidget
{
	margin-bottom: .65em;
	margin-left: .5em;
	margin-right: .5em;
	white-space: nowrap;
}


/* Styles used by the WorkspaceTreeControl. */
.workspaceTreeBinderAnchor
{
	color: #414648; /* dark grey */
	text-decoration: none;
	font-family: Arial,Helvetica,sans-serif;
	font-size: .9em;
}
.workspaceTreeBinderExpanderImg
{
	cursor: pointer;
	margin-top: 4px;
	margin-left: 2px;
}
.workspaceTreeBinderImg
{
	padding-right: 2px;
}
.workspaceTreeBinderSelected
{
	color: #5691a6;
}
.workspaceTreeControlHeader .workspaceTreeBinderSelected
{
	color: #fff;
}
.workspaceTreeControl
{
	background-color: #EAEBE8;
	padding: 0 0 8px;
	width: 230px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow-x: auto;
}
.workspaceTreeControlBody
{
	padding-top: 4px;
}
.workspaceTreeControlHeader
{
	background: #85BCC3 url(images/header_blend_grey_bg.png) repeat-x scroll center bottom;
	background-position:bottom;
	color: #fff;
	font-size: 0.85em;
	font-weight: bold;
	letter-spacing: 0.02em;
	padding: 5px;
	cursor: pointer;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.workspaceTreeControlRow
{
	padding: 2px;
	margin-bottom: 1px;
	cursor: pointer;
}
.workspaceTreeControlRowHover
{
	color: #5691a6;
	background: #cce9ee;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.workspaceTreeControlRowSelected
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fff;
	font-weight: bold;
}


/* */
.fontSize75em
{
	font-size: .8em;
}

/* From Lynn's styles. */
.head4
{
	color: black;
	font-size: 0.85em;
	font-weight: bold;
	margin-bottom: 0.2em;
	margin-top: 0.5em;
}

/* From Lynn's styles. */
.instructions
{
	color: #4D6D8B;
	font-size: 0.8em;
}

/* Styles for the canvas widget used in the landing page editor. */
.lpeCanvas
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	
	/* IE6 does not support the min-height attribute.  We have to add the 2 height lines as a workaround. */
	min-height: 500px;
	height: auto !important;
	height: 500px;
	
	margin-left: 5px;
	position: relative;
	width: 850px;
}

/* Styles for the canvas widget when the user is dragging something over the canvas. */
.lpeCanvas-highlighted
{
	background-color: #CDF3FF;
}

/* Styles used for the jsp name in a "custom jsp" widget */
.lpeCustomJspName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Custom Jsp" widget. */
.lpeCustomJspWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles for the drag proxy widget that is used when the user drags an item from the palette in the landing page editor. */
.lpeDragProxy
{
	background: #EFEEEC url(images/putty_blend3.png) repeat-x scroll 0 0;
	height: 20px;
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 130;
}

/* Styles for the drag proxy popup widget that is used when the user drags an item from the palette in the landing page editor. */
.lpeDragProxyPopup
{
	border: 0px;
	padding: 0px;
}

/* Styles used for the drop indicator that shows the user where a dropped widget will be inserted. */
.lpeDropIndicator
{
	background-color: #09F;
	height: 3px;
	position: absolute;
	width: 100px;
	z-index: 100;
}

/* Styles for widgets that can be dropped on a drop zone. */
.lpeDropWidget
{
	margin-bottom: .5em;
	margin-left: .5em;
	margin-right: .5em;
}

/* Styles used for the binder name in a "entry" widget */
.lpeEntryBinderName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles used for the entry name in the "entry" widget */
.lpeEntryName
{
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles used for the entry name in the "entry" widget when the mouse is not over the name*/
.lpeEntryName-mouseOut
{
	cursor: default;
	color: #333333;
}

/* Styles used for the entry name in the "entry" widget when the mouse is over the name*/
.lpeEntryName-mouseOver
{
	cursor: pointer;
	color: blue;
}

/* Styles for the "Entry" widget. */
.lpeEntryWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the binder name in a "folder" widget */
.lpeFolderBinderName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles used for the folder  name in the "folder" widget */
.lpeFolderName
{
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles used for the folder  name in the "folder" widget when the mouse is not over the name. */
.lpeFolderName-mouseOut
{
	cursor: default;
	color: #333333;
}

/* Styles used for the folder name in the "folder" widget when the mouse is over the name */
.lpeFolderName-mouseOver
{
	cursor: pointer;
	color: blue;
}

/* Styles for the "Folder" widget. */
.lpeFolderWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the graphic name in a "graphic" widget */
.lpeGraphicName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Graphic" widget. */
.lpeGraphicWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}


/* Styles for the landing page editor hint. */
.lpeHint
{
	color: #4D6D8B;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

/* Styles used for the entry name in the "link to entry" widget */
.lpeLinkToEntryName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles used for the title in a "link to entry" widget */
.lpeLinkToEntryTitle
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Link to Entry" widget. */
.lpeLinkToEntryWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the folder name in the "link to folder" widget */
.lpeLinkToFolderName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles used for the title in a "link to folder" widget */
.lpeLinkToFolderTitle
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Link to Entry" widget. */
.lpeLinkToFolderWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles for the "Link to Url" widget. */
.lpeLinkToUrlWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}

/* Styles used for the title in a "link to url" widget */
.lpeLinkToUrlTitle
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles used for the url in the "link to url" widget */
.lpeLinkToUrlUrl
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* Styles for the List Widget */
.lpeListDropWidget
{
	width: 100%;
}

/* Styles for the title of the List Widget */
.lpeListDropWidgetTitle
{
	background-color: #EFEEEC;
}

/* Styles used for a drop zone found in a list. */
.lpeListDropZone
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	
	/* IE6 does not support the min-height attribute.  We have to add the 2 height lines as a workaround. */
	min-height: 50px;
	height: auto !important;
	height: 50px;
	
	width: 100%;
}

/* Styles used for a drop zone found in a list. */
.lpeListDropZone-highlighted
{
	background-color: #CDF3FF;
}

/* Styles for the List widget's title. */
.lpeListTitle
{
	cursor: default;
}

/* Style used to give something a left margin of .5em */
.lpeMarginLeft1Point5
{
	margin-left: 1.5em;
}

/* Styles for the palette widget used in the landing page editor. */
.lpePalette
{
	border: 1px solid #999999;
	font-size: 0.8em;
}

/* Styles for the items that are found on the landing page editor palette. */
.lpePaletteItem
{
	background: #EFEEEC url(images/putty_blend3.png) repeat-x scroll 0 0;
	cursor: move;
	height: 20px;
	margin: 3px;
	padding: 3px;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 130;
}

/* Styles for the image used on a palette item. */
.lpePaletteItemImg
{
	margin-right: 2px;
	vertical-align: text-bottom;
	z-index: 130;
}

/* Dependent style used to display a border. */
.lpeShowBorder
{
	border: 1px solid #999999;
}

/* Styles for a table that has been added to the landing page editor. */
.lpeTable
{
	border: 0px;
}

/* Styles used for a drop zone found in a table. */
.lpeTableDropZone
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	height: 100%;
	width: 100%;
}

/* Styles used for a drop zone found in a table. */
.lpeTableDropZone-highlighted
{
	background-color: #CDF3FF;
}

/* Styles used for the utility element name in a "utility element" widget */
.lpeUtilityElementName
{
	cursor: default;
	color: #333333;
	font-family: Arial,sans-serif;
	font-size: 12px;
}

/* Styles for the "Utility Element" widget. */
.lpeUtilityElementWidget
{
	background-color: #E5E5E5;
	border: 1px solid #AEAEAE;
	padding: 6px;
}


/* Styles used for the label that identifies a widget, ie Link, Utility Element */
.lpeWidgetIdentifier
{
	cursor: default;
	font-size: 13px;
	font-weight: bold;
	margin-right: .25em;
}

/* Style used for the panel that holds the content control. */
.mainContentControl
{
	left: 246px;
	position: absolute;
	top: 8px;
}

.mainContentControl iframe.gwt-Frame {
	border-width: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

/* Style used for the content panel in Teaming's main page. */
.mainContentPanel
{
	height: 100%;
	position: relative;
}

/* Style used for the WorkspaceTree control found in Teaming's main page. */
.mainWorkspaceTreeControl
{
	left: 8px;
	position: absolute;
	top: 8px;
	z-index: 100;
}

/* Styles used by the bread crumb navigator. */
.mainBreadCrumb_Tree
{
	padding: 5px;
	padding-bottom: 20px;
	width: auto;
	overflow-x: auto;
}
.mainBreadCrumb_Browser
{
	background: url(images/trans70_black.png) repeat;
	border: 0px;
	padding: 0px;
	right: 20px;
	z-index: 310;
}
.breadCrumb_Browser
{
}
.breadCrumb_CloseA
{
	cursor: pointer;
}
.breadCrumb_CloseImg
{
}
.breadCrumb_Content
{
	color: #FFFFFF;
	font-size: .85em;
	margin: 0px 20px;
}
.breadCrumb_ContentNode
{
}
.breadCrumb_ContentNode_ExpanderImg
{
	cursor: pointer;
	margin-top: 2px;
	margin-right: 2px;
}
.breadCrumb_ContentNode_Anchor
{
	cursor: pointer;
	color: #FFFFFF;
	margin-top: 2px;
	margin-right: 15px;
	font-size: 1.1em;
}

/* Styles used by the MainMenuControl. */
.mainMenuButton
{
	display: inline-block;
	height: 20px;
	margin-left: 3px;
	overflow: hidden;
	padding: 0px;
	text-align: center;
	top: 2px;
	width: 28px;
	z-index: 310;
}
.mainMenuButton_Group
{
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding-left: 6px;
	padding-right: 2em;
}
.mainMenuButton_WidgetAnchor
{
	cursor: pointer;
}
.mainMenuButton_WidgetImage
{
	margin-top: 2px;
}
.mainMenuContent
{
	display: inline;
	margin: 0px;
	padding: 0px;
}
.mainMenuControl
{
	background: transparent url(images/main_menu_bg.png) repeat-x scroll 0 0;
	height: 20px;
	left: 0;
	padding: 2px 0 4px;
	position: relative;
	top: 0;
	white-space: nowrap;
	width: 100%;
	z-index: 300;
}
.mainMenuBar_BoxA
{
	cursor: pointer;
	text-decoration: none;
}
.mainMenuBar_BoxDropDownImg
{
	margin-left: 5px;
	vertical-align: middle;
}
.mainMenuBar_BoxHover
{
	background: url(images/teal_slice.png) repeat-x center;
	color: #3e6978;
}
.mainMenuBar_BoxImg
{
	margin-right: 2px;
	vertical-align: middle;
}
.mainMenuBar_BoxPanel
{
	border-left: 1px solid white;
	color: #414648; /* dark grey */
	display: inline-block;
	font-size: 0.73em;
	font-weight: normal;
	padding: 3px 8px;
	vertical-align: top;
	white-space: nowrap;
}
.mainMenuBar_BoxText
{
	display: inline-block;
	vertical-align: middle;
}
.mainMenuPopup
{
	background-color: #ffffff; 
	text-align: left; 
	/* width: 200px; */
}
.mainMenuPopup_Bottom
{
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
	border-bottom: 3px solid #5aa7e3;
}
.mainMenuPopup_Core
{
	border: 0px;
	padding: 0px;
	z-index: 301;
}
.mainMenuPopup_Item
{ 
	color: #414648; /* dark grey */
	line-height: 1.1em; 
	padding: 0.2em 0.5em 0.3em; 
	white-space: nowrap;
}
.mainMenuPopup_ItemA
{
}
.mainMenuPopup_ItemHover
{
	background: url(images/blue_slice.png) repeat-x center;
	color: #FFFFFF !important;
}
.mainMenuPopup_ItemSpacer 
{
	background: url(images/dotline_bg.gif) repeat-x;
	font-size: 0.85em;
	margin-left: 0.5em;
	padding: 0.3em;
}
.mainMenuPopup_ItemPanel
{
}
.mainMenuPopup_ItemText
{
	color: #414648; /* dark grey */
	cursor: pointer;
	display: inline;
	font-size: .9em;
	margin: 0px;
	padding: 2px 5px;
}
.mainMenuPopup_TitleBar
{
	color: #F6F6F6;
	font-size: .9em;
	font-weight: bold;
	background: url(images/blue_slice.png) repeat-x;
	background-position: bottom;
	margin-bottom: 0.5em;
	padding: 5px; 
	padding-top: 6px; 
}
.mainMenuPopup_TitleBarCloseA
{
}
.mainMenuPopup_TitleBarCloseImg
{
	float: right;
}
.mainMenuPopup_TitleBarText
{
	display: inline;
}

/* Styles for the favorites dialog. */
.favoritesDlg
{
	z-index: 301;
}
.favoritesDlg_Checkbox
{
	margin-left: 5px;
}
.favoritesDlg_Grid
{
	margin-top: 8px;
}
.favoritesDlg_Label
{
	color: #414648; /* dark grey */
	line-height: 1.1em; 
	margin-right: 5px;
	padding: 0.2em 0.5em 0.3em; 
	white-space: nowrap;
}
.favoritesDlg_MenuBar
{
}
.favoritesDlg_MenuItem
{
}

/* Style for the main Teaming page. */
.mainTeamingPage
{
	background-image: url(images/stripes_bg.png);
	background-repeat: repeat;
	font-family: Arial,Helvetica,sans-serif;
	font-style: normal;
	font-size: medium;
}

/* Style for the panel that holds the main Teaming page. */
.mainTeamingPagePanel
{
	height: 100%;
	width: 100%;
}

/* Style used to create a bottom margin of .10em */
.marginBottom15em
{
	margin-bottom: .15em;
}

/* Style used to create a bottom margin of .25em */
.marginBottomPoint25em
{
	margin-bottom: .25em;
}

/* Style used to create a left margin of .25em */
.marginLeftPoint25em
{
	margin-left: .25em;
}

/* Style used to create a right margin of .25em */
.marginRightPoint25em
{
	margin-right: .25em;
}

/* Style used to create a right margin of 5 px. */
.margin-right-5
{
	margin-right: 5px;
}

/* Style used to create a top margin of 5 px. */
.marginTop5px
{
	margin-top: 5px;
}

/* Style used to create a top margin of 10 px. */
.marginTop10px
{
	margin-top: 10px;
}

/* Style used with the mast head */
.mastHead
{
	position: relative;
	width: 100%;
	z-index: 0;
}

/* Style used for the background panel in the masthead. */
.mastHeadBgPanel
{
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1;
}

/* Style used for the panel that holds all the content in the masthead. */
.mastHeadContentPanel
{
	background: transparent;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
}

/* Style used with the panel that holds the graphic that is displayed on the left side of the mast head. */
.mastHeadBrandingPanel
{
	font-size: 12px;
	z-index: 3;
}

/* Style used with the panel that holds the global actions in the mast head. */
.mastHeadGlobalActionsPanel
{
	color: #FFFFFF;
	right: 20px;
	position: absolute;
	top: 15px;
	white-space: nowrap;
	z-index: 20;
}

/* Style used with the panel that holds the graphic that is displayed on the right side of the mast head. */
.mastHeadLogoPanel
{
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 1;
}

/* Style used with the panel that holds the logged-in user's name in the mast head. */
.mastHeadUserName
{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 0.95em;
	font-style: italic;
	left: -4px;
	letter-spacing: 0.05em;
	position: relative;
	text-align: right;
	top: -10px;
}

/* Style used for links in the masthead. */
.mastHeadLink
{
	color: #3e6978;
	cursor: pointer;
	margin-left: 4px;
	text-decoration: none;
}

/* Style used for the mouse-over hint for the links in the masthead. */
.mastHeadMouseOverHint
{
	font-size: 0.7em;
	overflow: hidden;
	position: absolute;
	right: 0px;
	text-align: center;
	top: -15px;
	width: 150px;
	z-index: 20;
}

/* Style used to add padding-top: 2px; */
.paddingTop2px
{
	padding-top: 2px;
}

/* Style used to add padding-top: 8px; */
.paddingTop8px
{
	padding-top: 8px;
}

/* Use this style if you want to set text-decoration: none */
.noTextDecoration
{
	text-decoration: none;
}

/* Styles for buttons */
.teamingButton
{
	margin-left: 0.5em;
}

/* Styles for dialog boxes */
.teamingDlgBox
{
	font-family: Arial,Helvetica,sans-serif;
	background: url(images/trans30_black.png) repeat;
	padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.teamingDlgBox .popupContent
{
	background-color: #f6f6f6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Styles for the content of a dialog box. */
.teamingDlgBoxContent
{
	margin: 10px;
}

/* Styles for the footer of a dialog box. */
.teamingDlgBoxFooter
{
	background-color: #EAEBE8;
	border-top: 1px solid #BABDB6;
	margin-top: 0.5em;
	padding: 0.5em;
	text-align: right;
	vertical-align: middle;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

/* Styles for the header in a dialog box. */
.teamingDlgBoxHeader
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background: transparent url(images/dialog_header_tile.png) repeat-x;
	padding: 5px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

/* Styles used to position something in the upper right hand corner of its parent. */
.upperRight
{
	position: absolute;
	right: 5px;
	top: 0px;
}

/* Styles used for rounded corners on things. */
.roundcorner
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.roundcornerSM
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.roundcornerSM-bottom
{
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.roundcornerLG
{
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
}


/* Styles uses for sub-header and button backgrounds. */
.subhead-control-bg1, .btn-bg1
{
	background: url(images/trans10_black_blend.png) repeat;
	background-position:bottom;
}
.subhead-control-bg2, .btn-bg2
{
	color: #FFFFFF;
	background: url(images/teal_slice.png) repeat-x center;
}

/* Trick used to use a custom image in the place of a "file upload" control */
.fileUploadTrick1
{
	background: transparent url(images/browse_hierarchy.png) no-repeat scroll 0 0;
	cursor: pointer;
	display: block;
	height: 16px;
	overflow: hidden;
	width: 16px;
}

.fileUploadTrick2
{
	height: 100%;
	left: -164px;
	-mos-opacity: 0;
	opacity: 0;
	position: relative;
	top: 8px;
	width: auto;
}

/* general CSS styes */

a.ss_new_thread {
	color: #3e6978;
	text-decoration: none;
	}
