<?xml version="1.0"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
                         
<web-app>

	<display-name>Teaming Portlet App for Liferay</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ssf.root</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context/applicationContext.xml optional:/WEB-INF/context/applicationContext-ext.xml</param-value>
	</context-param>

	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.kablink.teaming.spring.web.context.support.XmlWebApplicationContext</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.kablink.teaming.spring.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>viewRendererServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>portletAdapter</servlet-name>
		<servlet-class>org.kablink.teaming.portletadapter.servlet.PortletAdapterServlet</servlet-class>
		<init-param>
			<param-name>namespace</param-name>
			<param-value>context/adapter-servlet</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>viewRendererServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>portletAdapter</servlet-name>
		<url-pattern>/a/*</url-pattern>		
	</servlet-mapping>
	
    <!-- Important: This value must be equal to or slightly greater than the timeout value of the portal login. -->
	<session-config>
		<session-timeout>250</session-timeout>
	</session-config>

	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/tags/c.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
		<taglib-location>/WEB-INF/tags/fmt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
		<taglib-location>/WEB-INF/tags/fn.tld</taglib-location>
	</taglib>

</web-app>