PortalRealm {
	com.liferay.portal.kernel.security.jaas.PortalLoginModule required;
};
//
// SiteScape: This default login module is commented out so that 
// we can bypass Slide's internal security checking and use our 
// own custom authenticator instead.
//ssfs_login {
//org.apache.slide.jaas.spi.SlideLoginModule required
//namespace=slide;
//};
//
ssfs_login {
org.apache.slide.simple.authentication.JAASLoginModule required
factoryClassName=com.sitescape.ef.ssfs.wck.AuthenticationManager
slideRole=root;
};