PortalRealm {
	com.liferay.portal.shared.security.jaas.PortalLoginModule required;
};
//
// This default login module is commented out so that we can bypass
// Slide's internal security checking and use our own custom 
// authenticator instead.
//slide_login {
//org.apache.slide.jaas.spi.SlideLoginModule required
//namespace=slide;
//};
//
slide_login {
org.apache.slide.simple.authentication.JAASLoginModule required
factoryClassName=com.sitescape.ef.ssfs.wck.AuthenticationManager
slideRole=root;
};