<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="ssf">
		
		<!-- Set the JNDI location of the SiteScape datasource. -->
		<property name="connection.datasource">jdbc/SiteScapePool</property>
		<!-- Use the SIteScape connection provider to lookup JNDI datasource
		     because it works across multiple J2EE servers. -->
		<property name="connection.provider_class">com.sitescape.util.dao.hibernate.DSConnectionProvider</property>
		<!-- Use the SIteScape SQL dialect because it will automatically detect 
		     the proper SQL dialect based on your connection URL. -->
		<property name="dialect">com.sitescape.util.dao.hibernate.DynamicDialect</property>
		<!-- Need this for bulk Delete statements -->
		<property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
		<!-- Other miscellaneous Hibernate properties. -->
		<!-- Need to set this to 0, or hibernate tries to load are classes that are non-lazy and defeats the usefullness of the secondary cache -->
		<property name="max_fetch_depth">0</property>
		<property name="statement_cache.size">20</property>
		<!-- By default, the JDBC batch size is set to zero to workaround for a hanging bug
		     in the Oracle driver. If you are not using Oracle database, you will want to
		     set this property to non-zero value (20 is recommended) to improve performance.  -->
		<property name="jdbc.batch_size">0</property>
		<property name="jdbc.use_scrollable_resultset">true</property>
		<property name="bytecode.use_reflection_optimizer">true</property>
		<property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<property name="net.sf.ehcache.configurationResourceName">/config/ehcache-hibernate.xml</property>
 		<property name="cache.use_query_cache">true</property>
 		<property name="cache.use_second_level_cache">true</property>
 		<property name="cache.use_minimal_puts">true</property>
 		<property name="cache.use_structured_entries">false</property>
 		<!-- Do not set the following property to true on a production system since it significantly affects performance -->
		<property name="show_sql">false</property>
		<property name="hibernate.generate_statistics">false</property>
 		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Sitescape Mappings -->
		<mapping resource="com/sitescape/team/security/function/Function.hbm.xml"/>
	    <mapping resource="com/sitescape/team/security/function/WorkAreaFunctionMembership.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Attachment.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/AuditTrail.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Binder.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/ChangeLog.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/CustomAttribute.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Dashboard.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Definition.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/EmailAddress.hbm.xml"/> 
	    <mapping resource="com/sitescape/team/domain/Event.hbm.xml"/> 
	    <mapping resource="com/sitescape/team/domain/FolderEntry.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/LibraryEntry.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/LicenseStats.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Membership.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/NotifyStatus.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/PostingDef.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Principal.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Ratings.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/SeenMap.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/SharedEntity.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Subscription.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Tag.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/UserProperties.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/Visits.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/WorkflowResponse.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/WorkflowState.hbm.xml"/>
	    <mapping resource="com/sitescape/team/domain/ZoneInfo.hbm.xml"/>

 
	</session-factory>
</hibernate-configuration>