<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">
		<property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
		<property name="url"><value>jdbc:mysql://localhost:3306/sitescape?useUnicode=true&amp;characterEncoding=UTF-8</value></property>
		<property name="username"><value>sitescape</value></property>
		<property name="password"><value>sitescape</value></property>
	</bean>

	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>

	<!-- Hibernate session factory: Different from our production configuration 
	     in an effort to be able to test the code in as much isolation as possible.
	     For example, this configuration does not depend upon JNDI for datasource
	     lookup, etc. -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref local="dataSource"/></property>
		<property name="lobHandler"><ref local="lobHandler"/></property>
		<!-- Sitescape mappings only -->
		<property name="mappingResources">
			<list>
		<value>org/kablink/teaming/security/accesstoken/impl/TokenInfo.hbm.xml</value>
		<value>org/kablink/teaming/security/function/Function.hbm.xml</value>
	    <value>org/kablink/teaming/security/function/WorkAreaFunctionMembership.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Attachment.hbm.xml</value>
	    <value>org/kablink/teaming/domain/AuditTrail.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Binder.hbm.xml</value>
	    <value>org/kablink/teaming/domain/ChangeLog.hbm.xml</value>
	    <value>org/kablink/teaming/domain/CustomAttribute.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Dashboard.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Definition.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Event.hbm.xml</value>
	    <value>org/kablink/teaming/domain/FolderEntry.hbm.xml</value>
	    <value>org/kablink/teaming/domain/IndexingJournal.hbm.xml</value>
	    <value>org/kablink/teaming/domain/LibraryEntry.hbm.xml</value>
	    <value>org/kablink/teaming/domain/LicenseStats.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Membership.hbm.xml</value>
	    <value>org/kablink/teaming/domain/PostingDef.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Principal.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Ratings.hbm.xml</value>
	    <value>org/kablink/teaming/domain/IndexNode.hbm.xml</value>
	    <value>org/kablink/teaming/domain/SeenMap.hbm.xml</value>
	    <value>org/kablink/teaming/domain/SimpleName.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Subscription.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Tag.hbm.xml</value>
	    <value>org/kablink/teaming/domain/UserProperties.hbm.xml</value>
	    <value>org/kablink/teaming/domain/Visits.hbm.xml</value>
	    <value>org/kablink/teaming/domain/WorkflowResponse.hbm.xml</value>
	    <value>org/kablink/teaming/domain/WorkflowState.hbm.xml</value>
	    <value>org/kablink/teaming/domain/ZoneInfo.hbm.xml</value>


  <!-- ############################################ -->
    <!-- # mapping files with external dependencies # -->
    <!-- ############################################ -->

    <!-- following mapping file has a dependendy on   -->
    <!-- 'bsh-{version}.jar'.                         -->
    <!-- uncomment this if you don't have bsh on your -->
    <!-- classpath.  you won't be able to use the     -->
    <!-- script element in process definition files   -->
    <value>org/jbpm/graph/action/Script.hbm.xml</value>

    <!-- following mapping files have a dependendy on  -->
    <!-- 'jbpm-identity-{version}.jar', mapping files  -->
    <!-- of the pluggable jbpm identity component.     -->
    <!-- comment out the following 3 lines if you don't-->
    <!-- want to use the default jBPM identity mgmgt   -->
    <!-- component                                     -->
 <!-- 
    <value>org/jbpm/identity/User.hbm.xml</value>
    <value>org/jbpm/identity/Group.hbm.xml</value>
    <value>org/jbpm/identity/Membership.hbm.xml</value>
-->
        <!-- ###################### -->
    <!-- # jbpm mapping files # -->
    <!-- ###################### -->

    <!-- hql queries and type defs -->
    <value>org/jbpm/db/hibernate.queries.hbm.xml</value>
    
    <!-- graph.def mapping files -->
    <value>org/jbpm/graph/def/ProcessDefinition.hbm.xml</value>
    <value>org/jbpm/graph/def/Node.hbm.xml</value>
    <value>org/jbpm/graph/def/Transition.hbm.xml</value>
    <value>org/jbpm/graph/def/Event.hbm.xml</value>
    <value>org/jbpm/graph/def/Action.hbm.xml</value>
    <value>org/jbpm/graph/def/SuperState.hbm.xml</value>
    <value>org/jbpm/graph/def/ExceptionHandler.hbm.xml</value>
    <value>org/jbpm/instantiation/Delegation.hbm.xml</value>

    <!-- graph.node mapping files -->
    <value>org/jbpm/graph/node/StartState.hbm.xml</value>
    <value>org/jbpm/graph/node/EndState.hbm.xml</value>
    <value>org/jbpm/graph/node/ProcessState.hbm.xml</value>
    <value>org/jbpm/graph/node/Decision.hbm.xml</value>
    <value>org/jbpm/graph/node/Fork.hbm.xml</value>
    <value>org/jbpm/graph/node/Join.hbm.xml</value>
    <value>org/jbpm/graph/node/State.hbm.xml</value>
    <value>org/jbpm/graph/node/TaskNode.hbm.xml</value>

    <!-- context.def mapping files -->
    <value>org/jbpm/context/def/ContextDefinition.hbm.xml</value>
    <value>org/jbpm/context/def/VariableAccess.hbm.xml</value>

    <!-- taskmgmt.def mapping files -->
    <value>org/jbpm/taskmgmt/def/TaskMgmtDefinition.hbm.xml</value>
    <value>org/jbpm/taskmgmt/def/Swimlane.hbm.xml</value>
    <value>org/jbpm/taskmgmt/def/Task.hbm.xml</value>
    <value>org/jbpm/taskmgmt/def/TaskController.hbm.xml</value>

    <!-- module.def mapping files -->
    <value>org/jbpm/module/def/ModuleDefinition.hbm.xml</value>

    <!-- bytes mapping files -->
    <value>org/jbpm/bytes/ByteArray.hbm.xml</value>

    <!-- file.def mapping files -->
    <value>org/jbpm/file/def/FileDefinition.hbm.xml</value>

    <!-- scheduler.def mapping files -->
    <value>org/jbpm/scheduler/def/CreateTimerAction.hbm.xml</value>
    <value>org/jbpm/scheduler/def/CancelTimerAction.hbm.xml</value>

    <!-- graph.exe mapping files -->
    <value>org/jbpm/graph/exe/Comment.hbm.xml</value>
    <value>org/jbpm/graph/exe/ProcessInstance.hbm.xml</value>
    <value>org/jbpm/graph/exe/Token.hbm.xml</value>
    <value>org/jbpm/graph/exe/RuntimeAction.hbm.xml</value>

    <!-- module.exe mapping files -->
    <value>org/jbpm/module/exe/ModuleInstance.hbm.xml</value>
        
    <!-- context.exe mapping files -->
    <value>org/jbpm/context/exe/ContextInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/TokenVariableMap.hbm.xml</value>
    <value>org/jbpm/context/exe/VariableInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/ByteArrayInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/DateInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/DoubleInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/HibernateLongInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/HibernateStringInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/LongInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/NullInstance.hbm.xml</value>
    <value>org/jbpm/context/exe/variableinstance/StringInstance.hbm.xml</value>

    <!-- msg.db mapping files -->
    <value>org/jbpm/msg/Message.hbm.xml</value>
    <value>org/jbpm/msg/db/TextMessage.hbm.xml</value>
    <value>org/jbpm/command/ExecuteActionCommand.hbm.xml</value>
    <value>org/jbpm/command/ExecuteNodeCommand.hbm.xml</value>
    <value>org/jbpm/command/SignalCommand.hbm.xml</value>
    <value>org/jbpm/command/TaskInstanceEndCommand.hbm.xml</value>

    <!-- taskmgmt.exe mapping files -->
    <value>org/jbpm/taskmgmt/exe/TaskMgmtInstance.hbm.xml</value>
    <value>org/jbpm/taskmgmt/exe/TaskInstance.hbm.xml</value>
    <value>org/jbpm/taskmgmt/exe/PooledActor.hbm.xml</value>
    <value>org/jbpm/taskmgmt/exe/SwimlaneInstance.hbm.xml</value>

    <!-- scheduler.exe mapping files -->
    <value>org/jbpm/scheduler/exe/Timer.hbm.xml</value>

    <!-- logging mapping files -->
    <value>org/jbpm/logging/log/ProcessLog.hbm.xml</value>
    <value>org/jbpm/logging/log/MessageLog.hbm.xml</value>
    <value>org/jbpm/logging/log/CompositeLog.hbm.xml</value>
    <value>org/jbpm/graph/log/ActionLog.hbm.xml</value>
    <value>org/jbpm/graph/log/NodeLog.hbm.xml</value>
    <value>org/jbpm/graph/log/ProcessInstanceCreateLog.hbm.xml</value>
    <value>org/jbpm/graph/log/ProcessInstanceEndLog.hbm.xml</value>
    <value>org/jbpm/graph/log/ProcessStateLog.hbm.xml</value>
    <value>org/jbpm/graph/log/SignalLog.hbm.xml</value>
    <value>org/jbpm/graph/log/TokenCreateLog.hbm.xml</value>
    <value>org/jbpm/graph/log/TokenEndLog.hbm.xml</value>
    <value>org/jbpm/graph/log/TransitionLog.hbm.xml</value>
    <value>org/jbpm/context/log/VariableLog.hbm.xml</value>
    <value>org/jbpm/context/log/VariableCreateLog.hbm.xml</value>
    <value>org/jbpm/context/log/VariableDeleteLog.hbm.xml</value>
    <value>org/jbpm/context/log/VariableUpdateLog.hbm.xml</value>
    <value>org/jbpm/context/log/variableinstance/ByteArrayUpdateLog.hbm.xml</value>
    <value>org/jbpm/context/log/variableinstance/DateUpdateLog.hbm.xml</value>
    <value>org/jbpm/context/log/variableinstance/DoubleUpdateLog.hbm.xml</value>
    <value>org/jbpm/context/log/variableinstance/HibernateLongUpdateLog.hbm.xml</value>
    <value>org/jbpm/context/log/variableinstance/HibernateStringUpdateLog.hbm.xml</value>
    <value>org/jbpm/context/log/variableinstance/LongUpdateLog.hbm.xml</value>
    <value>org/jbpm/context/log/variableinstance/StringUpdateLog.hbm.xml</value>
    <value>org/jbpm/taskmgmt/log/TaskLog.hbm.xml</value>
    <value>org/jbpm/taskmgmt/log/TaskCreateLog.hbm.xml</value>
    <value>org/jbpm/taskmgmt/log/TaskAssignLog.hbm.xml</value>
    <value>org/jbpm/taskmgmt/log/TaskEndLog.hbm.xml</value>
    <value>org/jbpm/taskmgmt/log/SwimlaneLog.hbm.xml</value>
    <value>org/jbpm/taskmgmt/log/SwimlaneCreateLog.hbm.xml</value>
    <value>org/jbpm/taskmgmt/log/SwimlaneAssignLog.hbm.xml</value>
    		    
		</list>
		</property>
		<property name="hibernateProperties">
 		   <props>
  		    <prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.cache.use_second_level_cache">false</prop>
		    </props>
		</property>

	</bean>
	<bean id="zoneConfig" class="org.kablink.teaming.util.SZoneConfig">
		<property name="configDocs">
			<bean class="org.kablink.teaming.util.DefaultMergeableXmlClassPathConfigFiles">
				<property name="configFiles">
					<list>
						<value>config/zone.cfg.xml</value>
					</list>		
				</property>
				<property name="validating"><value>false</value></property>
			</bean>
		</property>
	</bean>
	<bean id="hibernateConfiguration" class="org.kablink.teaming.util.HibernateConfigurationFactory">
		<property name="sessionFactoryBean"><ref bean="&amp;sessionFactory"/></property>
	</bean>
	
	<bean id="workflowFactory" class="org.kablink.teaming.module.workflow.impl.WorkflowFactory">
		<property name="hibernateSessionFactory"><ref local="sessionFactory"/></property>
	</bean> 

	<bean id="coreDao" class="org.kablink.teaming.dao.impl.CoreDaoImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>

	<bean id="folderDao" class="org.kablink.teaming.dao.impl.FolderDaoImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
		<property name="coreDao"><ref bean="coreDao"/></property>
	</bean>
	<bean id="profileDao" class="org.kablink.teaming.dao.impl.ProfileDaoImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
		<property name="coreDao"><ref bean="coreDao"/></property>
	</bean>

	<!-- Local transaction manager. -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>

	<bean id="workflowModule" class="org.kablink.teaming.module.workflow.impl.WorkflowModuleImpl" >
		<property name="coreDao"><ref bean="coreDao"/></property>
	</bean>	
	<bean id="springContextUtil" class="org.kablink.teaming.util.SpringContextUtil" />
	<bean id="reportModule" class="org.kablink.teaming.module.folder.impl.NullReportModule"/>
</beans>