/* ------------------------------------------------------------------------ */
/* general styles, used most everywhere */

/* lists */
ul.ss_content li {
  font-family: arial, helvetica, sans-serif;
  font-size: smaller; 
  color: #000000;  
  }

ul.ss_nobullet {
  margin-left: 0em;
  padding-left: 0em;
  margin-top: 0px;
  margin-bottom: 2px;
}

ul.ss_nobullet li {
  list-style-type: none;
  margin-left: 5px;
  margin-bottom: 0px;
  padding-left: 5px;
  font-size: smaller;
  font-family: arial, helvetica, sans-serif;
  }

ul.ss_nobullet li ul.ss_nobullet {
  margin-left: 0px;
  padding-left: 0em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ss_content {
  font-family: arial, helvetica, sans-serif;
  font-size: smaller; 
  color: #000000; 
  }
  
.ss_contentbold {
  font-family: arial, helvetica, sans-serif;
  font-size: smaller;
  font-weight: bold;
  color: #000000;  
  }
  
.ss_contentgray {
  font-family: arial, helvetica, sans-serif;
  font-size: smaller; 
  color: #999999;   
  }

.ss_fineprint {
  font-family: arial, helvetica, sans-serif;
  font-size: 70%; 
  color: #000000;  
  }

.ss_fineprintbold {
  font-family: arial, helvetica, sans-serif;
  font-size: 70%; 
  color: #000000;
  font-weight: bold;
  }

.ss_fineprintgray {
  font-family: arial, helvetica, sans-serif;
  font-size: x-small; 
  color: #999999; 
  }
  
span.ss_rightbold {
  display: inline;
  text-align: right;
  float: right;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  color: #999999;
  }
  
span.ss_right {
  display: inline;
  text-align: right;
  float: right;
  font-family: arial, helvetica, sans-serif;
  color: #999999;
  }

/* ------------------------------------------------------------------------ */
/* entry styles: common to entry views and entry forms */

h1.ss_entryTitle {
  font-weight: bold;
  font-size: smaller;
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  margin-bottom: .5em;
  margin-top: .5em;
  }
 
/* spacer between form/view elements */
div.ss_divider {
  border-bottom: thin solid #cccccc;
  background: url("/html/pics/1pix.gif") fixed no-repeat;
  }  

/* container for entry content: description, signature, attachments, data gathered from entry form */
/* also form elements */
div.ss_entryContent {
  margin: 0px 0px 0px 0px;
  padding: 2px;
}

/* styles for labels: required for forms; optional for views */
.ss_labelAbove {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-size: smaller;
  font-weight: bold;
  color: #000000;
  }

.ss_labelLeft {
  font-size: smaller;
  font-weight: bold;
  color: #000000;
  display: inline;
  padding-right: 2px;
  font-family: arial, helvetica, sans-serif;
  }

.ss_labelRight {
  font-size: smaller;
  font-weight: bold;
  color: #000000;
  display: inline;
  padding-left: 2px;
  font-family: arial, helvetica, sans-serif;
  }
  
* toolbar */
/* toolbar positioning */
span.ss_toolRight {
  font-weight: bold;
  font-size:smaller;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  font-decoration: none;
  text-align: right;
  float: right;
  display:inline;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }
  
span.ss_toolLeft {
  font-weight: bold;
  font-size:smaller;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  text-align: left;
  float: left;
  display: inline;
  margin: 2px;
  font-decoration: none;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }
  
/* div.ss_toolbar is dynamically defined in view_css.jsp to specify the background color */
/* Link text on the toolbar */
a.ss_toolbar_item {
  display: inline;
  text-align: left;
  font-weight: bold;
  font-size:smaller;
  text-decoration: none;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }

a.ss_toolbar_item:hover {
  display: inline;
  font-weight: bold;
  text-align: left;
  font-size:smaller;
  text-decoration: underline;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }

/* drop-down menu */
/* span.ss_toolbar_item specifies the font and positioning of tools on the Forum toolbar */
/* for tool menu popup (icon is hot, not text) and toolbar delimiters (not hot) */
span.ss_toolbar_item {
  display: inline;
  text-align: left;
  font-weight: bold;
  font-size: smaller;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }
  
div.ss_toolbar_menu {
	position: absolute;
	z-index: 100;
	visibility: hidden;
	background-color: #FFFFFF; 
	color: #000000;
	border: 1px #cfcfcf solid;
	padding: 0px;
	width: 300px;
}

/* These are for the Next/Prev History and Next/Prev Entries buttons. */
/* Useful if the goal is to put a button on the far left and a button on the far right. */
span.ss_buttonBarLeft {
  display: inline;
  text-align: left;
  float: left;
  font-weight: bold;
  font-size: smaller;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  padding: 5px;
  }
  
span.ss_buttonBarRight {
  display: inline;
  text-align: right;
  float: right;
  font-weight: bold;
  font-size: smaller;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  padding: 5px;
  }

  
/* action buttons */
/* mostly forms but elsewhere too */
/* left-aligned buttons (usually at the bottom of the form) */
div.ss_buttonBarLeft {
  margin: 0px 5px 0px 5px;
  text-align: left;
  display: inline;
  }

/* right-aligned buttons (usually at the top of the form) */
div.ss_buttonBarRight {
  margin: 0px 5px 0px 5px;
  text-align: right;
  }

/* ------------------------------------------------------------------------ */
/* form-only styles: any form but only forms */

fieldset.ss_fieldset {
  border: 1px #666666 solid;
  padding: 5px;
  margin-top: 12px;
  }

legend.ss_legend {
  font-size: small;
  font-weight: bold;
  color: #666666;;
  }

/* legend explaining the required-field indicator */
div.ss_requiredLegend {
  font-family: arial, helvetica, sans-serif;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #cccccc;
  }

.ss_formInstructions { 
  border-color: #cccccc; 
  border-style: solid; 
  border-width: 1px; 
  font-family: arial, helvetica, sans-serif;
  font-size: small;
  padding: 2px;
  }

/* ------------------------------------------------------------------------ */
/* navigation */

/* box for small widgets (to avoid using tables to format. */
/* use for date, time, event pickers, etc. */
div.ss_widgetContent { 
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
  }

/* submit button styles */
input.ss_submit { 
  background-color: #e5e5e5;
  font-size: x-small; 
  color: #3366cc;
  font-weight: bold;
  padding-left, padding-right: 0px;
  border-top: 2px solid #e6e6e6;
  border-left: 2px solid #e6e6e6;
  border-right: 2px solid #8f8f8f;
  border-bottom: 2px solid #8f8f8f;
  }

input.ss_submit:hover { 
  background-color: #e5e5e5;
  font-size: x-small; 
  color: #3366cc;
  font-weight: bold;
  padding-left, padding-right: 0px;
  border-top: 2px solid #8f8f8f;
  border-left: 2px solid #8f8f8f;
  border-right: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  }

/* ------------------------------------------------------------------------ */
/* folder styles */
/* folders use ss_entryTitle */
div.ss_folder {
  margin: 0em .8em 0em .8em;
  }

/* Widgets */
/* box for small widgets (to avoid using tables to format. */
/* use for date, time, event pickers, etc. */
div.ss_widgetContent { 
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
  }
  
.ss_definitionBuilder
{
    padding-right: 2px;
    padding-left: 2px;
    font-size: small;
    visibility: hidden;
    display: none;
    padding-bottom: 2px;
    margin: 2px;
    padding-top: 2px;
    font-family: Arial;
    position: relative
}

.ss_helpPopUp
{
	position: absolute;
	z-index: 10;
	visibility: hidden;
	display: none;
	background-color: #FFFFFF; 
	color: #000000;
	font-size: small;
	text-decoration: none;
	font-family: arial, helvetica, sans-serif;
	border: 1px #3366cc solid;
	padding: 10px;
	width: 300px;
}

.ss_treeWidget
{
	background: url("/html/pics/1pix.gif") fixed no-repeat;
}

div.ss_portlet {
  width: 100%;
  text-align: left;
  }

/* ------------------------------------------------------------------------ */
/* table styles */

/* rules around the table and under the headers (ss_headerRow), but not between rows */
/* used for folder listings of entries, usually with alternating shaded rows  */
table.ss_borderTable {
  border-left: 1px solid #666666; 
  border-right: 1px solid #666666; 
  border-bottom: 1px solid #666666;
  margin-top: 3px;
  }

table.ss_borderTable tr td {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 2px;
} 

table.ss_borderTable tr.ss_headerRow td {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 2px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #f7f7f7;
}

/* rules around the table and between rows */
/* used for event (calendar) views */
table.ss_ruledTable {
  border-top: 1px #666666 solid;
  border-left: 1px #666666 solid;
  margin 0px;
}

table.ss_ruledTable td {
  border-bottom: 1px #666666 solid;
  border-right: 1px #666666 solid;
  margin: 0px;
}

table.ss_ruledTable th {
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

table.ss_ruledTable td table {
  border-bottom: 0px #ffffff solid;
  border-right: 0px #ffffff solid;
  margin: 0px;
}

table.ss_ruledTable td table.monthgrid {
  border-bottom: 1px #666666 solid;
  border-right: 1px #666666 solid;
}

table.ss_ruledTable td table td {
  border-bottom: 0px #ffffff solid;
  border-right: 0px #ffffff solid;
  margin: 0px;
}

table.content td {
  font-family: arial, helvetica, sans-serif;
  font-size: smaller; 
  color: #000000;  
}

table.fineprint td {
  font-family: arial, helvetica, sans-serif;
  font-size: x-small; 
  color: #000000;  
}
/* ------------------------------------------------------------------------ */
/* color styles */
.ss_bgblue, td.bgblue, table.bgblue, tr.bgblue { background-color: #ceddf2; }
.ss_bgdarkblue { background-color: #3366cc; }
.ss_bgwhite { background-color: #ffffff; }
.ss_bglightgray { background-color: #f7f7f7; }
.ss_bgmedgray { background-color: #cccccc; }
.ss_bgdarkgray { background-color: #666666; }
.ss_bgdarkergray { background-color: #333333; }
.ss_bgblack { background-color: #000000; }
.ss_bgmanila { background-color: #ffffe8; }
.ss_bgworkflow { background-color: #e4e4e4; }

/* highlight for selected entry in iframe view*/
.highlightEntry {
  background-color: #f7f7f7;
}

/* highlight an entire table row/cell (such as today's date in calendar views */
table.ss_highlightManila {
  background-color: #ffffe8;
}
table tr.ss_highlightManila td.ss_highlightManila {
  background-color: #ffffe8;
} 

td.ss_highlightManila {
  background-color: #ffffe8;
}

tr.ss_highlightManila {
  background-color: #ffffe8;
}

table.ss_highlightGray {
  background-color: #f7f7f7;
}
table tr.ss_highlightGray td.ss_highlightGray {
  background-color: #f7f7f7;
} 

td.ss_highlightGray {
  background-color: #f7f7f7;
}

tr.ss_highlightGray {
  background-color: #f7f7f7;
}

.ss_labelAboveError {  
  margin: 5px 5px 5px 5px;
  border-color: #a01e00; 
  border-style: solid; 
  border-width: 1px; 
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: #a01e00;
  background-color: #f7f7f7;
  font-family: arial, helvetica, sans-serif;
  }
  
.ss_labelLeftError {
  border-color: #a01e00; 
  border-style: solid; 
  border-width: 1px; 
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: #a01e00;
  display: inline;
  background-color: #f7f7f7;
  font-family: arial, helvetica, sans-serif;
  }

.ss_labelRightError {
  border-color: #a01e00; 
  border-style: solid; 
  border-width: 1px;
  text-align: right; 
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: #a01e00;
  display: inline;
  background-color: #f7f7f7;
  font-family: arial, helvetica, sans-serif;
  }

/* red required-field indicator, usually an asterisk */
span.ss_required {
  background-color: transparent;
  color: #a01e00;
  display:inline;
  padding: 2px;
  font-size: larger;
  font-weight: bold;
  font-family: arial, helvetica, sans-serif;
  }
  
/* ------------------------------------------------------------------------ */
/* link styles */

a.ss_link {
  text-decoration: underline;
  color: #3366cc;
  font-family: arial, helvetica, sans-serif;
  }

a.ss_link:visited, a.ss_link:inactive {
  text-decoration: underline;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  }

a.ss_link:hover, a.ss_link:active {
  text-decoration: underline;
  color: #ff0000;
  font-family: arial, helvetica, sans-serif;
  }

a.ss_link_nodec {
  text-decoration: none;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  }

a.ss_link_nodec:visited, a.ss_link_nodec:inactive {
  text-decoration: none;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  }

a.ss_link_nodec:hover, a.ss_link_nodec:active {
  text-decoration: underline;
  color: ff0000;
  font-family: arial, helvetica, sans-serif;
  }

  /* Text styled as buttons */
a.ss_linkButton:link, a.ss_linkButton:visited {
  font-size: smaller;
  color: #6699cc;
  font-weight: bold;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom, margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
}

a.ss_linkButton:focus, a.ss_linkButton:hover, a.ss_linkButton:active {
  font-size: smaller;
  color: #ff0000;
  font-weight: bold;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom, margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
}

a.ss_smallLinkButton:link, a.ss_smallLinkButton:visited {
  font-size: smaller;
  color: #6699cc;
  font-weight: bold;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom, margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
}

a.ss_smallLinkButton:focus, a.ss_smallLinkButton:hover, a.ss_smallLinkButton:active {
  font-size: smaller;
  color: #ff0000;
  font-weight: bold;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom, margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
}
  