/* ------------------------------------------------------------------------ */
/* general styles, used most everywhere */

/* ss_style is specified in view_css so its colors can be set up
.ss_style {}
*/


/* This style triggers the Nifty Corners rounding effect. 
   Add "ss_rounded" to any element that is to be rounded. */
.ss_rounded {}
    
.ss_largeprint {
  font-size: 16px; 
  }
  
.ss_smallprint {
  font-size: 11px; 
  }
  
.ss_fineprint {
  font-size: 9px; 
  }

.ss_bold {
  font-weight: bold;
  }
  
.ss_italic {
  font-style: italic;
  }
  
/* ss_gray is specified in view_css so its colors can be set up
.ss_gray {}
*/

/****** Form styles ******/
/* ss_form (et al) is specified in view_css so its colors can be set up
.ss_form {}
.ss_form table.ss_style {}
.ss_form.ss_gray {}
.ss_form select {}
.ss_form textarea {}
.ss_form input.ss_text {}
.ss_form input.ss_submit {}
.ss_form input.ss_submit:hover {}
*/


/****** Miscellaneous styles ******/
span.ss_right {
  display: inline;
  text-align: right;
  float: right;
  color: #999999;
  }

/* lists */
ul.ss_nobullet {
  margin-left: 0em;
  padding-left: 0em;
  margin-top: 0px;
  margin-bottom: 2px;
  }

ul.ss_nobullet li {
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  }

ul.ss_square li {
  list-style-type: square;
} 

/* ------------------------------------------------------------------------ */
/* entry styles: common to entry views and entry forms */

h1.ss_entryTitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: .5em;
  margin-top: .5em;
  }
 
/* spacer between form/view elements */
div.ss_divider {
  border-bottom: thin solid #cccccc;
  }  

div.ss_formBreak {
  margin-top: 8px;
  }

/* container for entry content: description, signature, attachments, data gathered from entry form */
/* also form elements */
.ss_entryContent {
  margin: 0px;
  padding: 2px;
}

/* styles for labels: required for forms; optional for views */
.ss_labelAbove {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  display: block;
  font-weight: bold;
  }

.ss_labelLeft {
  font-weight: bold;
  display: inline;
  padding-right: 2px;
  }

.ss_labelRight {
  font-weight: bold;
  display: inline;
  padding-left: 2px;
  }
  
/* toolbar */
/* toolbar positioning */
span.ss_toolRight {
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  float: right;
  display:inline;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }
  
span.ss_toolLeft {
  font-weight: bold;
  text-align: left;
  float: left;
  display: inline;
  margin: 2px;
  text-decoration: none;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }
  
/* div.ss_toolbar is dynamically defined in view_css.jsp to specify the background color */
/* Link text on the toolbar */
a.ss_toolbar_item {
  display: inline;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }

a.ss_toolbar_item:hover {
  display: inline;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }

/* drop-down menu */
/* span.ss_toolbar_item specifies the font and positioning of tools on the Forum toolbar */
/* for tool menu popup (icon is hot, not text) and toolbar delimiters (not hot) */
.ss_toolbar_item {
  display: inline;
  text-align: left;
  font-weight: bold;
  margin: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  }
  
/* moved to view_css.jsp to specify the colors
div.ss_toolbar_menu {
  }
*/

/* These are for the Next/Prev History and Next/Prev Entries buttons. */
/* Useful if the goal is to put a button on the far left and a button on the far right. */
span.ss_buttonBarLeft {
  display: inline;
  text-align: left;
  float: left;
  font-weight: bold;
  padding: 5px;
  }
  
span.ss_buttonBarRight {
  display: inline;
  text-align: right;
  float: right;
  font-weight: bold;
  padding: 5px;
  }

  
/* action buttons */
/* mostly forms but elsewhere too */
/* left-aligned buttons (usually at the bottom of the form) */
div.ss_buttonBarLeft {
  margin: 0px 5px 0px 5px;
  text-align: left;
  display: inline;
  }

/* right-aligned buttons (usually at the top of the form) */
div.ss_buttonBarRight {
  margin: 0px 5px 0px 5px;
  text-align: right;
  }

/* ------------------------------------------------------------------------ */
/* form-only styles: any form but only forms */

fieldset.ss_fieldset {
  -moz-border-radius: 5px; 
  margin-top: 6px;
  margin-bottom: 4px;
  }
  
fieldset.ss_fieldset_square {
  border: 1px #666666 solid;
  padding: 5px;
  margin-top: 12px;
  }

legend.ss_legend {
  color: red;
  }

legend.ss_legend_bold {
  font: bold 140%/1.6 Arial,sans-serif;
  }

.ss_formInstructions { 
  border-color: #cccccc; 
  border-style: solid; 
  border-width: 1px; 
  font-size: smaller;
  padding: 2px;
  }

/* ------------------------------------------------------------------------ */
/* navigation */

/* box for small widgets (to avoid using tables to format. */
/* use for date, time, event pickers, etc. */
div.ss_widgetContent { 
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
  }

/* ------------------------------------------------------------------------ */
/* folder styles */
/* folders use ss_entryTitle */
div.ss_folder {
  width: 100%;
  }

/* Widgets */
/* box for small widgets (to avoid using tables to format. */
/* use for date, time, event pickers, etc. */
div.ss_widgetContent { 
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
  }
  
.ss_definitionBuilder {
  padding-right: 2px;
  padding-left: 2px;
  font-size: small;
  visibility: hidden;
  display: none;
  padding-bottom: 2px;
  margin: 2px;
  padding-top: 2px;
  font-family: Arial;
  position: relative
  }

.ss_helpPopUp {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  display: none;
  background-color: #FFFFFF; 
  text-decoration: none;
  border: 1px #3366cc solid;
  padding: 10px;
  width: 300px;
  }

.ss_treeWidget {
  background: url("/html/pics/1pix.gif") fixed no-repeat;
  }
.ss_treeWidget_ul {
  display: inline;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  list-style-type: none;
  }
.ss_treeWidget_li {
  display: inline;
  }

.ss_expandable_area_title {
  width: 100%;
  }
.ss_expandable_area_content {
  display: none;
  position: relative;
  visibility: hidden;
  margin: 0px;
  }

.ss_portlet {
  width: 100%;
  text-align: left;
  }

div.ss_workflow { 
  border: 1px #666666 solid;
  padding: 2px;
  }

ul.ss_dragable {
  position: relative;
  width: 100px;
  margin: 4px;
}
ul.ss_dragable li {
  position: relative;
  cursor: move;
  margin: 0px;
  text-align: left;
}
ul.ss_userlist {
  list-style-type: none;
  padding: 4px 10px;
  width: 150px;
  margin: 4px;
}
ul.ss_userlist li {
  padding: 0px;
  text-align: left;
  margin: 0px;
}

/* ------------------------------------------------------------------------ */
/* table styles */

/* rules around the table and under the headers (ss_headerRow), but not between rows */
/* used for folder listings of entries, usually with alternating shaded rows  */
table.ss_borderTable {
  border-left: 1px solid #666666; 
  border-right: 1px solid #666666; 
  border-bottom: 1px solid #666666;
  margin-top: 3px;
  }

table.ss_borderTable tr td {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 2px;
} 

table.ss_borderTable tr.ss_headerRow td {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 2px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #f7f7f7;
}

table.ss_borderTable tr.ss_headerRow th {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 2px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #f7f7f7;
}

/* rules around the table and between rows */
/* used for event (calendar) views */
table.ss_ruledTable {
  border-top: 1px #666666 solid;
  border-left: 1px #666666 solid;
  margin: 0px;
}

table.ss_ruledTable td {
  border-bottom: 1px #666666 solid;
  border-right: 1px #666666 solid;
  margin: 0px;
}

table.ss_ruledTable th {
  margin: 0px;
  font-weight: bold;
  text-align: center;
}

table.ss_ruledTable td table {
  border-bottom: 0px #ffffff solid;
  border-right: 0px #ffffff solid;
  margin: 0px;
}

table.ss_ruledTable td table.monthgrid {
  border-bottom: 1px #666666 solid;
  border-right: 1px #666666 solid;
}

table.ss_ruledTable td table td {
  border-bottom: 0px #ffffff solid;
  border-right: 0px #ffffff solid;
  margin: 0px;
}

/* ------------------------------------------------------------------------ */
/* color styles */
.ss_bgblue, td.bgblue, table.bgblue, tr.bgblue { background-color: #ceddf2 !important; }
.ss_bgdarkblue { background-color: #3366cc !important; }
.ss_bgwhite { background-color: #ffffff !important; }
.ss_bglightgray { background-color: #f7f7f7 !important; }
.ss_bgmedgray { background-color: #cccccc !important; }
.ss_bgdarkgray { background-color: #666666 !important; }
.ss_bgdarkergray { background-color: #333333 !important; }
.ss_bgblack { background-color: #000000 !important; }
.ss_bgmanila { background-color: #ffffe8 !important; }
.ss_bglightpink { background-color: #ffccff !important; }
.ss_bgpink { background-color: #ff00ff !important; }
.ss_bgworkflow { background-color: #e4e4e4 !important; }

a.ss_graymenu:link, a.graymenu:visited {
  font-size: 11px; 
  text-decoration: none; 
}

a.ss_graymenu:focus, a.graymenu:hover {
  font-size: 11px; 
  text-decoration: underline; 
}

/* highlight for selected entry in iframe view*/
.ss_highlightEntry {
  background-color: #cecece;
  }

/* highlight an entire table row/cell (such as today's date in calendar views */
table.ss_highlightManila {
  background-color: #ffffe8;
  }
table tr.ss_highlightManila td.ss_highlightManila {
  background-color: #ffffe8;
  } 

td.ss_highlightManila {
  background-color: #ffffe8;
  }

tr.ss_highlightManila {
  background-color: #ffffe8;
  }

table.ss_highlightGray {
  background-color: #f7f7f7;
}
table tr.ss_highlightGray td.ss_highlightGray {
  background-color: #f7f7f7;
  } 

td.ss_highlightGray {
  background-color: #f7f7f7;
  }

tr.ss_highlightGray {
  background-color: #f7f7f7;
  }

.ss_labelAboveError {  
  margin: 5px 5px 5px 5px;
  border-color: #a01e00; 
  border-style: solid; 
  border-width: 1px; 
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: #a01e00;
  background-color: #f7f7f7;
  }
  
.ss_labelLeftError {
  border-color: #a01e00; 
  border-style: solid; 
  border-width: 1px; 
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: #a01e00;
  display: inline;
  background-color: #f7f7f7;
  }

.ss_labelRightError {
  border-color: #a01e00; 
  border-style: solid; 
  border-width: 1px;
  text-align: right; 
  padding: 2px;
  font-size: small;
  font-weight: bold;
  color: #a01e00;
  display: inline;
  background-color: #f7f7f7;
  }

/* red required-field indicator, usually an asterisk */
span.ss_required {
  background-color: transparent;
  color: #a01e00;
  display:inline;
  padding: 2px;
  font-size: larger;
  font-weight: bold;
  }
  
/* ------------------------------------------------------------------------ */
/* link styles */

/* Text styled as buttons */
a.ss_linkButton:link, a.ss_linkButton:visited {
  font-size: 12px;
  color: #6699cc;
  font-weight: bold;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom: 2px;
  margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
  }

a.ss_linkButton:focus, a.ss_linkButton:hover {
  font-size: 12px;
  color: #ff0000;
  font-weight: bold;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom: 2px;
  margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
  }

a.ss_smallLinkButton:link, a.ss_smallLinkButton:visited {
  font-size: 10px;
  color: #6699cc;
  font-weight: bold;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom: 2px;
  margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
  }

a.ss_smallLinkButton:focus, a.ss_smallLinkButton:hover {
  font-size: 10px;
  color: #ff0000;
  font-weight: bold;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  background-color: #ffffe8;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom: 2px;
  margin-top: 2px;
  line-height: 200%;
  text-decoration: none;
  display: inline;
  }

/* Calendar popup styles (used in the datepicker) */

div.ss_calPopupDiv {
  position:absolute; 
  visibility:hidden; 
  background-color:#f7f7f7; 
  border-right:solid 2px gray;
  border-bottom:solid 2px gray;
  }

.ss_cpYearNavigation,
.ss_cpMonthNavigation
	{
	background-color:#cecece;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	}
.ss_cpDayColumnHeader,
.ss_cpYearNavigation,
.ss_cpMonthNavigation,
.ss_cpCurrentMonthDate,
.ss_cpCurrentMonthDateDisabled,
.ss_cpOtherMonthDate,
.ss_cpOtherMonthDateDisabled,
.ss_cpCurrentDate,
.ss_cpCurrentDateDisabled,
.ss_cpTodayText,
.ss_cpTodayTextDisabled,
.ss_cpText
	{
	font-family:arial;
	font-size:8pt;
	}
TD.ss_cpDayColumnHeader
	{
	text-align:right;
	border:solid thin #cecece;
	border-width:0 0 1 0;
	}
.ss_cpCurrentMonthDate,
.ss_cpOtherMonthDate,
.ss_cpCurrentDate
	{
	text-align:right;
	text-decoration:none;
	}
.ss_cpCurrentMonthDateDisabled,
.ss_cpOtherMonthDateDisabled,
.ss_cpCurrentDateDisabled
	{
	color:#D0D0D0;
	text-align:right;
	text-decoration:line-through;
	}
.ss_cpCurrentMonthDate
	{
	color:#000000;
	font-weight:bold;
	}
.ss_cpCurrentDate
	{
	color: #000000;
	font-weight:bold;
	}
.ss_cpOtherMonthDate
	{
	color:#808080;
	}
TD.ss_cpCurrentDate
	{
	color:#000000;
	background-color: #cecece;
	border-width:1;
	border:solid thin #000000;
	}
TD.ss_cpCurrentDateDisabled
	{
	border-width:1;
	border:solid thin #FFAAAA;
	}
TD.ss_cpTodayText,
TD.ss_cpTodayTextDisabled
	{
	border:solid thin #6677DD;
	border-width:1 0 0 0;
	}
A.ss_cpTodayText,
SPAN.ss_cpTodayTextDisabled
	{
	height:20px;
	}
A.ss_cpTodayText
	{
	color:black;
	font-weight:bold;
	}
SPAN.ss_cpTodayTextDisabled
	{
	color:#D0D0D0;
	}
.ss_cpBorder
	{
	border:solid thin #808080;
	}
