/* ------------------------------------------------------------------------ */
/* styles specific to ie */

ul.ss_dropdownmenu {
  margin-left: 13px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

ul.ss_dropdownmenu li {
  list-style-type: square;
  margin-left: 0px;
  margin-bottom: 1px;
  padding-left: 0px;
  color: #666666;
} 

