/*
	iPhone Style Sheet 
*/

body { 
	background:url(images/mobile/stripes.png) repeat; 
	margin: 0; 
	}

a { 
	color: #1C5894; text-decoration: none; 
	}
label { 
	font-weight: bold; font-size: .9em;
	}
textarea { 
	font-size: 1em; width: 275px;
	}
select { 
	font-size: 1em;
	}
input[type=button], input[type=submit], input[type=reset] { 
	font-size: 1em;
	}
	
span.pad-left20 {
	padding-left: 10px;
	}	

.font-red {
	font-color: red;
	}

/* colors 

#7abcba - light teal

*/

#login-pg, #home-pg, #myws-pg, #blog-pg { 
	position: relative; 
	font-family: Arial, Helvetica, sans-serif;
	}

#contentDetail { 
	padding: 0 20px; 
	}

.header { 
	color: white; 
	font-size: 16px;
	text-align: center;
	padding-top: 10px;
	background-color: #5b9b99; 
	font-weight: bold; 
	width: 100%; 
	}
		
.search { 
	position: relative;
	top: -6px;
	right: 4px;
	font-size: .8em;
	font-weight: bold; 
	padding: 6px;
	background-color: #4e8583;
	border: 1px solid #7abcba;
	white-space:nowrap;
	}

.homelink { 
	position: relative;
	top: -6px;
	left: 4px;
	font-size: .8em;
	font-weight: bold; 
	padding: 6px;
	background-color: #4e8583;
	border: 1px solid #7abcba;
	white-space:nowrap;
	}

.backlink { 
	position: relative;
	top: -6px;
	left: 4px;
	padding: 3px 8px 0px 8px;
	vertical-align: middle;
	background-color: #4e8583;
	border: 1px solid #7abcba;
	white-space:nowrap;
	}
	
.action-dialog { 
	position: absolute; 
	display: none;
	top: 38px; 
	left: 0px;
	padding: 10px;
	width: 100%;
	border-top: 4px solid #1C5894;
	border-bottom: 4px solid #1C5894;
	background: #e8e9e6 url(images/mobile/putty_blend3.png) repeat-x;
	background-position: bottom;
	}

.search	a, .homelink a { 
	color: #e1eaea;
	}
	
#actions { 
	position: relative; 
	top: 0px; 
	left: 0px; 
	padding: 5px;
	background-color: #c3c5c0;
	background-image: url(images/mobile/level_one_pattern4.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #1C5894;
	white-space:nowrap;
	}
#actions a {
	font-size: 1em; 
	font-weight: bold; 
	padding: 4px;
	margin-right: 8px;
	}
		
.dialog-head { 
	font-size: .95em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: .5em;
	}
.dialog-content { 
	margin-bottom: .3em;
	}

.menu-spacer { 
	border-top: 1px solid #d2d5d1;
	margin-top: 5px;
	height: 5px;
	line-height:.5em;
	}
.menu-item {padding-left: .5em;}
.menu-item a { font-size: 1em; line-height: 2em;}
.menu-curlevel {font-weight: bold;}	

#micro-blog	a { 
	color: black;
	} 
		
#micro-blog-date {
	padding-left: 20px;
	color: #949691;	
	}
	
#micro-blog-clear {
	margin-left: 2em; 
	}
	
#micro-blog-buttons {
	margin-top: .3em; 
	}

#categoryTable {
	table-layout:fixed;
	width: 100%;
	}
#categoryTable td {
	text-align: center;
	padding: 4px;
	width: 30%;
	background-color: transparent;
	}
.category {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 28px;
	text-align: center;
	background-color: #fff;
	}
.category-on {
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	}	
.category-off {
	font-size: 14px;
	font-weight: bold;
	background:url(images/mobile/stripes.png) repeat;
	}
	
.content {
	width: 100%;
	}

.userid {
	background-color: #fef7e4;  /* #fffae4; #fff2e5; */
	border-bottom: 1px solid #e2e5e1; /* #d2d5d1; */
	}
.username {
	font-size: 20px;
	padding: 5px;
	}
.phone, .email {
	font-size: 15px;
	color: #666;
	padding-top: 5px;
	}
.userid-clear {
	clear: both;
	height: 0px;
	}
.userid img {
	position: relative;
	top: 0px;
	left: 0px;
	width: 25%;
	float: left;
	margin-right: 5px;
	}	

.ws-title {
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	background-color: #c3c5c0;
	background-image: url(images/mobile/level_one_pattern4.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #1C5894;
	white-space:nowrap;
	}


/*  my links styles */
.my-item {
	font-size: 1.2em;
	background-color: #fff;
	padding: 3px 10px 3px 20px;
	background:url(images/mobile/putty_blend4.png) repeat-x bottom;
	border-bottom: 1px solid #e2e5e1; /* #d2d5d1; */
	}

.my-item img { 
	vertical-align: middle;
	margin-right: 5px;
	}

/*  folder styles */
.folders {
	position: relative;
	}
.folder-content {
	background-color: #fff;
	}
	
.folder-head {
	clear: both; 
	color: #000;
	font-size: 1em;
	vertical-align: middle;
	padding: 5px 5px 5px 10px;
	letter-spacing: 1px;
	background-color: #ffe59b; /* #ffe086;  #d8e3e5; */
	background-image:url(images/mobile/HeaderBlend_med_yellow.png);
	}
.folder-item {
	font-size: 1.1em;
	background-color: #fff;
	padding: 6px 4px 6px 25px;
	border-bottom: 1px solid #d2d5d1;
	}
.folder-item-subtext {
	font-size: 10px;
	color:#999;
	}

/*  footer styles */
.footer-nav				{ position: fixed; top: 400px; height: 60px; background-color:#000; width: 100%; margin: 5px 0 0 0; }
	.footer-but-title	{ color: #7abcba; font-size: 10px; }
	#footer-but1		{ position: absolute; left: 0px; top: 5px; width: 80px; text-align: center;}
	#footer-but2		{ position: absolute; left: 80px; top: 5px; width: 80px; text-align: center;}
	#footer-but3		{ position: absolute; left: 160px; top: 5px; width: 80px; text-align: center;}
	#footer-but4		{ position: absolute; left: 240px; top: 5px; width: 80px; text-align: center;}

.footerbar				{ position: absolute; left: 0px; bottom: 0px; height: 40px; background-color:#eceeec; width: 100%; margin: 10px 0 0 0; }
.footerbar #logo		{ position: relative; top: 8px; left: 8px; }
.footerbar .copyright	{ position: relative; top: -8px; left: 40px; width: 250px; color: #666; }


/* Entry styles - Blog, Recent, etc */

.entry {
	position: relative;
	border-bottom: 1px solid #e2e5e1; /* #d2d5d1; */
	padding: 10px 10px 10px 25px;
	background:url(images/mobile/putty_blend4.png) repeat-x bottom;
	}
.entry-title {
	font-size: 20px;
	padding-top: 5px;
	padding-right: 20px;
	}
.entry-content {
	font-size: 16px;
	color: #666;
	padding-top: 8px;
	}
.entry-element {
	font-size: 14px;
	color: #666;
	padding-top: 4px;
	padding-left: 12px;
	}
.entry-caption {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	padding-top: 8px;
	}

.entry-author {
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 2px;
	padding-right: 10px;
	}
.entry-date {
	font-size: 12px;
	color: #666;
	}
.entry-type {
	font-size: 12px;
	color: #666;
	background-color: #fef7e4;
	padding: 3px;
	}
.entry-comment-label {
	position: absolute;
	right: 6px;
	top: 10px;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 5px 8px;
	background:url(images/mobile/comments_22.png) no-repeat center;
	}
.entry a.mk-comment, a.remove-action {
	font-size:12px;
	padding: 3px 10px 3px 0px;
	}	

.comment {
	position: relative;
	border-bottom: 1px solid #e2e5e1; /* #d2d5d1; */
	padding: 5px 5px 5px 40px;
	}
.comment2 {
	position: relative;
	border-bottom: 1px solid #e2e5e1;
	padding: 5px 5px 5px 65px;
	}

.comment .entry-title, .comment2 .entry-title {
	font-size: 16px;
	color: #666;
	padding-top: 5px;
	white-space: nowrap;
	width: 95%;
	overflow: hidden;
	}
.comment .entry-title span, .comment2 .entry-title span {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	padding-right: 5px;
	}
.comment-bg {
	font-size: 16px;
	color: #666;
	background-color: #fef8dc; /* #fffae4; #FEF6D4; */
	padding: 10px;
	}
.comment img {
	position: absolute;
	top: 6px;
	left: 6px;
	}	
.comment2 img {
	position: absolute;
	top: 10px;
	left: 40px;
	}	
	
/*  iPhone Specific CSS3 */

.roundcorner {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px
	}
.roundcornerLG {
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px
	}
	









/* **************** Old stuff to be deleted when new look is done ****************** */

#wrapper {
	margin: 3px auto;
	border: 1px solid #CCC;
	width: auto;
	max-width: 597px;
	height: auto;
	font-size: 1em;
	background: #FFFFFF;
	color: #666666;
	/*if you change theradius you need to not only change it here but also on the header */
	-moz-border-radius-topleft: 5px;
	 	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	 	-webkit-border-top-right-radius: 5px;
	}

/* Limit the amount of vertical room the banner takes up: it shouldn't
    take up most of the screen! We care about physical size here, not
    screen resolution.
   Most of this image can be cut off without a problem, so also
   release the max-width and clip the overflow. */
.header img	{

	}
#header {
	overflow: hidden;
	background-color: #5B9B99;
	height: 24px;
	font-size: .9em;
	 -moz-border-radius-topleft: 5px;
	 	-webkit-border-top-left-radius: 5px;
	 -moz-border-radius-topright: 5px;
	 	-webkit-border-top-right-radius: 5px;
	}
#header ul {
	margin-top: 6px;
	}

#header li {
	display: inline;
	list-style-type: none;
	padding-right: 5em;
	}
#header a {
	text-decoration: none;
	margin-top:4px;
	margin-bottom:1px;
	color: #FFF;
	}
.inlinelist {
	list-style-type: none;
	list-style-image: none;
	line-height: 1.4em;
	display: list-item;
	border-right: none;
	border-top-width: thin;
	border-left-width: thin;
	border-bottom: thin solid #DBE9E8;
	list-style-position: outside;
	}
/* Linearize menu */
#menu {
	display:inline;
	height: auto;
	width: auto;
	list-style-type: none;
	clear: both;	
	}
#menu ul {
	border: none !important;
	}
#menu ul li {
	display: inline;
	margin-right: 0.1em;
	border:none;
	}
#menu ul li a {
	width: auto;
	height: 1.5em;
	padding: 0.15em 4% 0.15em 4%;
	border:solid #333 1px;
	text-decoration:none;
	/*Safari rounded corner*/
		-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	-webkit-box-shadow: 2px 2px 2px #CCC;
	background: #666;
	color: #FFF;
	}

/* Turn off float -> one-column layout
   Reduce padding to a percentage (scales well)
   Relax width to 'auto' and set max-width instead */
.maincontent	{
	float: none;
	padding: 1% 0% 1% 4%;
	margin:0px 2px 2px 2px;
	width: auto;
	max-width: 597px;
	font-size: .93em;
	background-color:#DBE9E8;
	color: #666666;
	border: thin #ccc solid;
	/*rounded corners for firefox and safari*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

td, th{
	}
	
.bottom_rule {
	border-bottom: thin #9EC8CD solid;
	}
	
/* Reduce horizontal margins/padding; percentages scale well */
.maincontent ol, .maincontent ul	{
	padding-left: 1%;
	margin-left: 1%;
	border: thin #006666 solid;
	}

/* Vertical margins should be given either as small pixel values
    (a few pixels for a bit of graphical breathing room) or as
    ems (relative to the font size) so it scales with the font.
    10px is close to font size, so it fits under the latter
    category  0.8em
   Switch 5px margin/padding to percentages */
.maincontent li	{
	line-height: 1.4;
	margin-bottom: 0.83em;
	padding-left: 1%;
	margin-left: 1%;
	}

/* Vertical margin -> em, as above*/
.maincontent ul ul li {
	margin-top: 0.83em;
	}

/* Horizontal spacing on inline elements
    should be given in em, not pixels, so
    that it scales with the font size */
.maincontent .inlinelist li	{
	padding: 0 0.4em 0 0;
	}

/* Switch from pixels to ems in footer margins/padding */
#footer {
	height: 24px;
	list-style-type: none;
	background: url(images/mobile/footer.png) repeat-x left top;
	font-size: 0.9em;
	}
#footer p	{
	margin-top: .5em;
	margin-right: 0;
	margin-left: 0;
	}

#footer ul	{
	margin: 0px;
	padding-top: .4em;
	}
#footer li	{
	display: inline;
	list-style-type: none;
	padding: 0 5em 0 0;
	}
#wrapper, #footer a, #header a {
	color: #333;
	text-decoration: none;
	}
.align_middle {
	padding-bottom: 1em;
}

/* Specify generic, not specific, fonts in font-family */
code, pre	{
	font-family: monospace;
	}

/* Allow preformatted lines to break */
pre {
	white-space: -pre-wrap; /* Opera 6 CSS Extension */
	white-space: pre-wrap; /* CSS2.1 Addition */
	}

	/*  Typography */

/* Specific fonts are ok for headlines, so leave font-family alone
   Adjust top margin from px to em and reduce it a bit (the 2px on the
    bottom margin is small enough to be left alone)
   Reduce line height to 1em; headings frequently break into multiple
    lines on such small screen, and we don't want spacing /within/ the
    heading, only around it. */
h1, h2, h3, h4, h5, h6	{
	line-height: normal;
	margin-top: 0em;
	}
.pagebody h1	{
	font-size: .38em;
	}
.pagebody h2	{
	font-size: 1.38em;
	margin: .15em;	
	}
.pagebody  {
	padding: 12px 12px 12px 12px;
	}
	
/* Avoid specifying font sizes in px: use 'em' (if non-nesting) or keywords.
   More margin px -> em adjustments */

h3 sign_in {
	font-size: 1.0em;
	color: #333;
	font-style: normal;
	}
#whatsnew { 
	background: #fff url(images/mobile/green.png) repeat-x left top;
	}
#miniblog { 
	background: #fff url(images/mobile/green.png) repeat-x left top;
	}
#favorites { 
	background: #fff url(images/mobile/ss_gray.png) repeat-x left top;
	}
#workflow { 
	background: #fff url(images/mobile/ss_blue.png) repeat-x left top;
	}
#search_people_global { 
	background:#fff url(images/mobile/ss_blue.png) repeat-x left top;
		}
#saved_searches {
	background: #fff url(images/mobile/ss_blue.png) repeat-x left top;
	}

.workflow { 
	background: #e5e5e5; 
	padding:4px;
	font-size: 0.83em !important;
	}
		
.pagebody, #saved_searches, #search_people_global, #favorites, #miniblog, #whatsnew {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 0.90em;
	/*safari and firefox*/
	 -moz-border-radius-topleft: 5px;
	 	-webkit-border-top-left-radius: 5px;
	 -moz-border-radius-topright: 5px;
	 	-webkit-border-top-right-radius: 5px;
		}
a:link, a:visited {
	text-decoration: none;
	
}
#saved_searches, #search_people_global, #favorites, #miniblog, #whatsnew {
	border: #777 thin solid;
	text-indent: 3%;
	background: #9A9A98;
	color: #FFF;
	-webkit-text-stroke: #000;
	}
.pagebody_border{
	border-bottom: #777 1px solid;
	border-left: #777 1px solid;
	border-right: #777 1px solid;
	margin-bottom: 1em;
		
	-webkit-box-shadow: 2px 2px 4px #CCC;
	}
	
h4 {
	font-size: 1em;
	}
h5 {
	font-size: 0.83em;
	}
h6 {
	margin: 0 0 2.5em 0;
	font-size: 0.83em;
	}


/* Use the default font size, because the device knows what's a good size for
   its screen and we don't. */
.pagebody, .pagebody div, .pagebody p, .pagebody th, .pagebody td, .pagebody li, .pagebody dd, .pagebody dt {
	font-size: 1em;
	}
.pagebody p.fineprint	{
	font-size: 0.90em;
	}
.pagebody .trans	{
	margin: 1.6em 0;
	padding-top: 0;
	}
.pagebody .trans dt  {
	font-size: 1.38em;
	margin-bottom: 0.4em;
	}
.pagebody ul {
	margin-top:0px;
	padding-top:13px;
	}
.pagebody ul li {
	border-bottom: 1px dotted #5A9A98;
	padding-bottom: .60em;
	padding-top: .60em;
	list-style-position: inside;
	list-style-type: square;
	margin-right: 2.6em;
	}	
.pagebody ol li {
	border-bottom: 1px dotted #5A9A98;
	padding-bottom: .60em;
	padding-top: .60em;
	list-style-position: inside;
	list-style-type: decimal;
	margin-right: 2.6em;
	}	
#outdated	{
	font-size: 0.90em;
	padding: 0.91em 0;
	margin: 2.27em 0 0.91em 0;
	}
#maincontent dl	{
	line-height: 1.4em;
	margin-top: 0;
	padding-top: 0;
	}
#maincontent dd	{
	margin-bottom: 0.4em;
	padding-left: 0.4em;
	margin-left: 0.4em;
	}

	/*  Forms */

/* Make sure inputs stay inside the content area */
input, textarea, select {
	max-width: 100%;
	}
#formarea label	{
	font-size: 0.90em;
	margin-top: 0.4em;
	}
#menu {
	display: inline;
	}
.postdata 	{
	background: #fff;
	color: #999;
	font-size: 0.83em;
	margin: 0.83em 0 0.4em 0;
	border: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #f3f3f3
	}

.postdata p  	{
	margin: 0.83em 0;
	}

.postbody	{
	margin: 0 0 1.6em 0;
	line-height: 1.4;
	}

.table_list td.col1 {
	padding:0px 4px 4px 10px;
}

.ss_mobile, .ss_mobile td, .ss_mobile th {
  font-family: Lucida Sans Unicode, Arial, sans-serif;
  font-size: 12px; 
}
.ss_mobile_small, .ss_mobile_small a, .ss_mobile_small table td {
	font-size:9px;
}
.ss_mobile_large, .ss_mobile_large a, .ss_mobile_large table td {
	font-size:14px;
}
.ss_mobile_light, .ss_mobile_light a, .ss_mobile_light table td {
	color:#999999;
}
.ss_bold, .ss_bold a, .ss_bold table td {
	font-weight: bold;
}
.ss_mobile_breadcrumbs, .ss_mobile_breadcrumbs a a:visited, .ss_mobile_breadcrumbs table td {
	color:gray;
}
.ss_mobile_description {
  	padding: 6px 4px 6px 4px;
  	margin: 6px 0px 6px 0px;
  	background-color: #E9F1F1;  /* switch back to this: #A6C5C5 #E9F1F1 !important; */
	}
.ss_mobile_workflow {
	border: solid 1px #CCCCCC;
	padding: 4px;
}
.ss_mobile_workflow_state {
	padding-left: 10px;
}
.ss_mobile_masthead {
	border: solid 1px black;
	background-color: #cecece;
	margin-bottom:10px;
}
.ss_mobile_footer {
	border: solid 1px black;
	background-color: #cecece;
}
.ss_entryContent {
	margin-bottom:10px;
}
.ss_labelAbove {
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
  font-weight: bold;
}
.ss_labelLeft {
  font-weight: bold;
  font-size: ${ss_style_font_normalprint};
  display: inline;
  padding-right: 2px;
}
.ss_mobile_folder_list {
	padding-bottom:6px;
}
.ss_mobile_table tr {
	padding-bottom:6px;
}
table.ss_mobile_calendar {
	width:100%;
}
table.ss_mobile_calendar th {
		background-color: #e5e5e5;
	padding: 6px 6px 6px 20px;
	text-align: left;
}
table.ss_mobile_calendar td {
	padding: 6px 6px 6px 20px;
}
.ss_mobile_calendar_time {
	text-align: right;
	width: 10%;
	white-space: nowrap;
}

/********* LOGIN TEXT BOX ************/
.ss_text_login{
	text-align: left;
	border: solid 1px #5A9A98;
	background-image: url(images/mobile/login_bk.png);
	padding-top: 3px;
	padding-right: 25px;
	padding-bottom: 3px;
	padding-left: 25px;
	margin-top: 50px;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	}
.ss_ttable{
	padding-left: 5ems; 
}
.ss_fieldset_login {
	margin-top: 80px;
	margin-bottom: 100px;
	padding-bottom:12px;
	padding-top: 40px;
	display: block;
	border: 1px dotted #5A9A98;
	background-image: url(images/mobile/login_bk.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 40px;
	} 
#fieldset.ss_fieldset_square {
  	border: 1px solid #5A9A98;
  	padding: 5px;
  	margin-top: 12px;
	}
#fieldset a{
	border: solid 1px #000;
	}
#fieldset a:hover{
	border: solid 1px #000;
	}
.ss_legend {
  	font-size:12px !important;
	padding-left:12px;
  	}
 /**********LOGIN SCREEN*******/
.ss_legend_login {
	font-size:18px!important;
	letter-spacing:-1px;
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-weight:200!important;
	color:#666;
	}

 /*  Helpers */
	
.background_light {
	background-color: #9A9A98!important;
	}
.background_dark {
	background-color: #5A9A98!important;
	}	
.background_lightest {
	background-color: #DBE9E8!important;
	}	
.linewrap {
	border-bottom: thin solid #5A9A98;
	margin-bottom: 6px;
	}
.floatleft	{
	margin: 0 1.15em 0 0;
	}
.form {
	font-size: 1.0em;
	margin-right: 5px;
	}
.form-button {
	font-size: .83em;
	padding-right: 5px;
	padding-bottom: 15px;
	}
	
.ss_form_wrap {
	border-top-width: 14px;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-style: solid;
	border-top-color: #5A9A98;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 0 10px 10px 10px!important;
	margin: 4px;
	}
.ss_form_header {
	font-size:16px !important;
	letter-spacing:-1px;
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-weight:normal !important;
	color:#5A9A98;
	}
.ss_form_subhead {
	 font-weight: bold;
	 color: #333;
	 }
.ss_form_subhead a:hover{
	 color: #555;
	 }	
	 
/* lists */
ul.ss_nobullet {
  margin-left: 0em;
  padding: 0em;
  margin: 0px 0px 2px 0px;
  }

ul.ss_nobullet li {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
  border:none !important;
  }

ul.ss_square li {
  list-style-type: square;
} 
